[2021-06-04 13:31] kennykerr commented on #511
I had a quick look at the latest build and indeed this is regression. The `OVERLAPPED` struct is broken and would prevent this from being used with Rust.

[2021-06-04 16:37] kennykerr commented on #511
Looks like this is affecting other nested structs: https://github.com/microsoft/windows-rs/pull/826

[2021-06-04 16:41] sotteson1 commented on #511
I'll try to get this resolved today.

[2021-06-04 16:50] mikebattista commented on #509
We need to close on how to produce metadata for other kits before we can address this.

This intersects with https://github.com/microsoft/win32metadata/issues/66 and https://github.com/microsoft/win32metadata/issues/401.

[2021-06-04 18:04] mikebattista commented on #468
@sotteson1 can we include this extsfns.h in our C++ SDK NuGet packages?

This is an outlier in that it's in the Debuggers folder not the Include folder so is not included in those packages today. We'd need to include this in the SDK packages before we can incorporate into the metadata.

[2021-06-04 21:40] #511 closed

[2021-06-04 21:46] riverar commented on #511
@sotteson1 Curious, is this empty if block a typo?

https://github.com/microsoft/win32metadata/commit/2bbdcac05cb8ab02d3c8e91e63ac6606aebb5d9a#diff-4609e74b3faba3e0c9d92648c9805c8b055cf14483c24951d8c145de1ccbe6eaR1836-R1839

[2021-06-04 22:03] sotteson1 commented on #511
Yes, I made another commit right after to fix it.

[2021-06-05 01:13] dominiccooney opened #512 "socket address family, type, protocol use signed types; constants are unsigned"
Context: I'm using windows-rs. I guess this is a metadata problem. The parameters to `socket` are projected as `i32, i32, i32`; makes sense given the signature of `socket(int, int, int)`. However the `AF_*`, `SOCK_*` etc. constants (for example `SOCK_STREAM`) are unsigned.

It would be better if these constants and parameters were the same type so it's not necessary to cast these.

I realize there

[2021-06-05 20:07] sotteson1 commented on #506
This has been fixed for a while in the code, but now it's in the latest release too.

[2021-06-05 20:07] #506 closed

[2021-06-05 20:21] riverar opened #513 "Versioning change rationale? (10.2.84-preview)"
Seems like we were in sync with Windows 10 target platform versioning (e.g. 10.0.19041.xxx) but this latest release is now 10.2.84.

Is this right? What does it mean?

@sotteson1

[2021-06-05 23:11] sotteson1 commented on #513
Yes, this was intentional. We changed it because we wanted to move away from being attached to the version of the Windows SDK in our own version. We want to use the second number to show when a breaking change has been made. Only having the last number available meant we didn't have a way to signal breaking changes for language projections.

[2021-06-06 02:29] Ben-Lichtman opened #514 "MEMORY_BASIC_INFORMATION missing field types"
MEMORY_BASIC_INFORMATION::AllocationProtect and MEMORY_BASIC_INFORMATION::Protect should be of type Windows::Win32::System::SystemServices::PAGE_TYPE

Currently these fields are set to a u32 where they should be of type Windows::Win32::System::SystemServices::PAGE_TYPE

source: https://docs.microsoft.com/en-us/windows/win32/api/winnt/ns-winnt-memory_basic_information

[code]

[code]

Furthermore t

[2021-06-06 03:03] riverar commented on #513
@sotteson1 Hm. That's confusing, as it doesn't follow semver rules. Seems like incrementing to 11.x and then following semver would be clearer. Thoughts?

[2021-06-06 03:30] Ben-Lichtman opened #516 "Missing type for dwfilterflag for use in EnumProcessModulesEx"
EnumProcessModulesEx takes a parameter which can be one of:

- LIST_MODULES_32BIT
- LIST_MODULES_64BIT
- LIST_MODULES_DEFAULT

Could this please be made a u32 wrapper type with associated consts for these constant values?

[2021-06-06 04:29] Ben-Lichtman opened #515 "ProcessorArchitecture not being used"
bindings::Windows::System::ProcessorArchitecture is included in the windows crate, yet is is not being used for things such as the field of SYSTEM_INFO, where instead there is a u16 to represent the architecture.

ProcessorArchitecture is also a 32 bit struct, but it could be made into a 16 bit struct to fit into this field - since it seems like none of the functions are directly dependent on this

[2021-06-06 04:46] kennykerr commented on #514
Transferred to the win32metadata repo as this is where the type information originates.

[2021-06-06 04:51] kennykerr commented on #515
I don't think the win32metadata project will want to introduce artificial dependencies between the Win32 and WinRT metadata families, but I'll let them decide.

[2021-06-06 04:54] Ben-Lichtman commented on #515
If not that type then maybe a different one with a similar associated const structure then?

[2021-06-06 04:56] kennykerr commented on #516
The win32metadata project may be able to address this.

[2021-06-06 08:30] MarijnS95 commented on #514
FYI it's pretty easy to define new enumerations (wrapping `u32`) constants and followed by overriding what methods/structs take this type, see https://github.com/microsoft/win32metadata/blob/master/CONTRIBUTING.md#enums.

[2021-06-07 00:27] mikebattista commented on #513
The goal is to use semantic versioning per https://github.com/microsoft/win32metadata/issues/419.

We can't start with 0.* since we started at 10.*, so need to start with something beyond that version. If the latest version isn't semver compliant, then that's a bug.

[2021-06-07 16:23] mikebattista commented on #512
@keith-horton what types do you recommend we use here for these constants?

[2021-06-07 17:10] keith-horton commented on #512
@mikebattista  , the parameters to pass to socket() and WSASocket() are defined as below.

#define SOCK_STREAM     1               /* stream socket */
#define SOCK_DGRAM      2               /* datagram socket */

#define AF_INET         2               // internetwork: UDP, TCP, etc.
#define AF_INET6        23              // Internetwork Version 6

typedef enum {
.
.
    IPPROTO_TCP           =

[2021-06-07 17:16] mikebattista commented on #512
If ushort would fit everywhere these constants are used and wouldn't require casting, that sounds like the best option.

[2021-06-07 17:23] keith-horton commented on #512
I did a quick-and-dirty test and passing it as ushort to WSASocket compiled just fine.
Looks like this is probably preferred.

[2021-06-07 17:31] mikebattista commented on #512
Sounds good. Thanks.

[2021-06-07 19:44] kennykerr commented on #513
The previous version was `10.0`. The current version introduces breaking changes so it must be `11.0`, not `10.2`, which implies that it is compatible with `10.0`.

[2021-06-07 19:50] #516 closed

[2021-06-07 19:51] kennykerr opened #517 "BSTR"
BSTR and its supporting functions are now in different namespaces (as of the latest release). This shows up in [odd ways](https://github.com/microsoft/windows-rs/pull/834) - I think it would make more sense for them to be in the same namespace.

[2021-06-07 19:52] kennykerr opened #518 "Foundation"
I like how the new Foundation namespace in the latest release has a very short list of types.

But I noticed this namespace also has a huge number of constants. Was that intentional? They seem unrelated to any of the types in this namespace.

[2021-06-07 19:57] sotteson1 commented on #517
Agreed, it should be in Windows.Win32.System.OleAutomation.

[2021-06-07 20:06] riverar commented on #518
@kennykerr Is the proposed action here is to move the `NTSTATUS` and `HRESULT` constants into their respective namespaces? And keep the overlap (e.g. `STATUS_SUCCESS`) in Foundation?

[2021-06-07 20:08] mikebattista commented on #518
The constants are from winerror.h and ntstatus.h which were previously parked over in either SystemServices or WindowsProgramming, which I'm trying to get rid of.

These files contain error codes for all APIs basically. Many should be manually remapped to be with the corresponding API (like WININET_*). Many look like common error codes that could be used by many APIs.

Until we can get through and

[2021-06-07 20:16] kennykerr commented on #518
Ah, I didn't realize they were just the constants for those types defined in the Foundation namespace. I guess that's fine. I was just surprised to see such a huge list of constants in what I thought would have been a relatively small namespace.

Feel free to close this issue. The rest is just observations. Feel free to ignore.

I still find it confusing that some constants are defined as fields o

[2021-06-07 22:40] mikebattista commented on #517
Is BSTR only ever used in OleAutomation APIs? String types were good candidates for Foundation.

[2021-06-07 22:50] kennykerr commented on #517
No, many APIs use BSTR.

[2021-06-07 22:52] mikebattista commented on #518
HRESULTS are an open set as well which makes an enum less appropriate.

I'm going to keep these in Foundation for now. For obvious constants like WININET_* that could be mapped easily to other existing namespaces, we can move those over. In the meantime, I'd rather keep these headers in Foundation to get them out of SystemServices and WindowsProgramming, until we get around to refactoring individu

[2021-06-07 22:52] #518 closed

[2021-06-07 22:56] mikebattista commented on #517
Ok. Then I'd prefer to move the supporting functions over to Foundation as well. Do you have those handy?

[2021-06-07 23:02] kennykerr commented on #517
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/automat/string-manipulation-functions

[2021-06-08 00:13] #517 closed

[2021-06-08 00:25] mikebattista commented on #512
Should we keep these as constants? Or turn these into ushort enums and convert all the method parameters and struct fields to use the enums instead?

[2021-06-08 00:28] sotteson1 commented on #512
If we turn them to ushort enums and force socket(int, int, int) to use them, it will change its signature from int to ushort. We don't want to change the size of the parameters from 32 to 16 bits.

[2021-06-08 01:11] mikebattista commented on #512
Ok. I'll keep as constants and just change to ushort.

[2021-06-08 02:33] mikebattista commented on #512
Couple other questions:

* Should the `PF_` constants also be ushort? Looks like they are defined as "same as AF_" in the headers.
* Should we update the `protocol` parameter of socket to be of the enum type `IPPROTO` from ws2def.h? If so, where else should this enum be used?

[2021-06-08 03:28] marler8997 opened #519 "Invalid Optional"
The following 3 function parameters are marked as "Optional" in the metadata:

1. The `data` parameter in the `EnumSystemGeoNames` function
2. The `sortHandle` parameter in the `FindNLSStringEx` function
3. The `sortHandle` parameter in the `LCMapStringEx` function

I believe these `Optional` attributes are in error since they are all integer types and I'm not sure what it means for an integer to

[2021-06-08 03:52] marler8997 opened #520 "AuthzInitializeResourceManagerEx phAuthzResourceManager is IntPtr"
The `phAuthzResourceManager` parameter in the `AuthzInitializeResourceManagerEx` function is expected to be type `PAUTHZ_RESOURCE_MANAGER_HANDLE` but in the metadata it is typed as `IntPtr`  (see https://docs.microsoft.com/en-us/windows/win32/api/authz/nf-authz-authzinitializeresourcemanagerex).

[2021-06-08 04:20] mikebattista commented on #519
The Optional is coming from the SAL annotations in the headers (e.g. `_In_opt_`), so I'd say the metadata generation is following the headers.

Whether the SAL annotations are incorrect would be a different issue. @sotteson1 thoughts?

[2021-06-08 04:43] marler8997 commented on #519
Ah SAL, I wasn't familiar with this particular topic.  Looks like there is some good documentation on it (i.e. https://docs.microsoft.com/en-us/cpp/code-quality/annotating-function-parameters-and-return-values?view=msvc-160).  It looks like it talks about optional pointers but I don't see it mention optional integral types, maybe I'm missing it though.

[2021-06-08 20:32] sotteson1 commented on #504
On the latest version I see:

[Optional][In][NativeArrayInfo(CountParamIndex = 1)] PWSTR* rgsFileNames

I don't see a triple pointer.

[2021-06-08 20:34] sotteson1 commented on #505
It's fixed on the latest version.

[2021-06-08 20:34] #505 closed

[2021-06-08 20:35] sotteson1 commented on #487
This looks right in the metadata:

public unsafe static extern BOOL OpenPrinterW([Optional][In] PWSTR pPrinterName, [Out] HANDLE* phPrinter, [Optional][In] PRINTER_DEFAULTSW* pDefault);

[2021-06-08 20:35] #487 closed

[2021-06-08 20:39] jnm2 commented on #487
Could there still be a problem with CsWin32 then, or has the metadata changed?

[2021-06-08 20:40] jnm2 commented on #504
It could be that I guessed wrong about the problem and this needs to be moved to CsWin32. Maybe I should file there always and let @AArnott move it here.

[2021-06-08 21:04] sotteson1 opened #521 "Arch-specific structs need to have unique names"
I just found a problem with the way we use the same names for arch-specific structs. If an arch-specific struct has a nested struct and has a field that refers to that type, it can't be represented in metadata correctly. The typeref for the field will point to (parent struct name+nested struct name) but that will resolve to the first top level struct with that name, not the particular arch-specifi

[2021-06-08 21:23] kennykerr commented on #521
Can you provide an example? I just want to make sure I understand the problem. KNONVOLATILE_CONTEXT_POINTERS doesn't appear to refer to itself.

[2021-06-08 21:34] sotteson1 commented on #521
In our latest builds we're seeing the problem with KNONVOLATILE_CONTEXT_POINTERS:

[code]

If you look at this in ILSpy with IL turned on, the two fields look like:

[code]
The typeref to KNONVOLATILE_CONTEXT_POINTERS can't specify which one. If it were uniquely named, then it could.

[2021-06-08 21:35] mikebattista commented on #521
A couple other examples are `Windows.Win32.System.Diagnostics.Debug.CONTEXT` and `Windows.Win32.System.Kernel.SLIST_HEADER`.

[2021-06-08 21:42] mikebattista commented on #521
@marler8997 and @timsneath for their thoughts.

[2021-06-08 21:46] kennykerr commented on #521
Nested types are always relative to their enclosing type so this is fine. I think that just looks ambiguous in ILSpy but is not ambiguous if you read the metadata directly. The nested types are stored as a `TypeDef` mapping table in ECMA335 called `NestedClass`. This defines the relationship between nested and enclosing types. Since these are `TypeDef`s and not `TypeRef`s, they point to specific d

[2021-06-08 21:54] kennykerr commented on #521
Sure, but the parser just needs to lookup up the type signature in the arch-specific definition for the target build. That's what I've been doing all along. The `TypeRef` won't have a namespace but will have a scope (field column of the `TypeRef` table). This `TypeRef` gives the qualified name of the enclosing type. You find the arch-specific `TypeDef` and then lookup the scope-relative `TypeDef`

[2021-06-08 21:57] sotteson1 commented on #521
If the projections are OK with that we can keep it. It confuses ILSpy and also the library I'm using for diffing. I'll have to figure out a way to disambiguate this kind of thing in the tests.

[2021-06-08 22:36] marler8997 commented on #521
The Zig projection is also fine here.  If the same symbol has multiple definitions for different arches, then this problem already has to be solved to avoid symbol conflicts.  It's not exactly the same but the Zig projection does what's equivalent to `ifdefs` around arch-specific symbols.

[2021-06-08 22:50] kennykerr opened #522 "INTERNET_DEFAULT_PORT not compatible with some languages"
The following definitions...

[code]

Are grouped together in metadata as follows...

[code]

This is problematic for both Rust and C as the same symbol `INTERNET_DEFAULT_PORT` is used to refer to both the type name and one of its fields.

[2021-06-08 22:51] kennykerr commented on #522
`PDH_VERSION` is another example.

[2021-06-08 22:59] kennykerr commented on #522
Is this perhaps meant to signal the default value for such types? Just guessing here. 😊

[2021-06-08 23:44] mikebattista commented on #522
* INTERNET_DEFAULT_PORT should just be INTERNET_PORT per the WinHttp headers
* PDH_VERSION could probably be changed to PDH_DLL_VERSION to keep the enum members consistent with the constants
* POWER_PLATFORM_ROLE_VERSION I'd prefer to keep the name of the enum and change the conflicting member name to _CURRENT_VERSION. This would deviate slightly from the original constant name, but I think this w

[2021-06-09 00:30] kennykerr commented on #522
Thanks, I'd appreciate another release once this is fixed as the Windows crate is currently [blocked on this bug](https://github.com/microsoft/windows-rs/pull/846).

[2021-06-09 00:31] kennykerr commented on #522
I did a quick scan and these three are the only cases in the latest release.

[2021-06-09 17:05] kennykerr commented on #522
I now have a workaround for this, so no rush. By the way, you can now browse the latest win32 metadata here:

https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/index.html

[2021-06-09 20:20] AArnott commented on #513
I thought the plan was that while we're still in "prerelease" we would signify breaking changes as a courtesy as a minor version bump.
Once we ship a *stable* version on nuget.org, semver rules require that we bump the major version on breaking changes.

Semver has nothing to say about breaking changes within a prerelease, which IMO are fully expected to contain breaking changes because all prerel

[2021-06-09 20:24] AArnott commented on #487
Yes, it may be that CsWin32 isn't recognizing the `[In]` flag on the metadata. I'll move to CsWin32 and reactivate.

[2021-06-09 20:32] AArnott commented on #521
CsWin32 has been fine resolving the ambiguity like @kennykerr described as well.

[2021-06-09 20:35] AArnott commented on #504
I appreciate you trying to file at the right repo. Where you can check the metadata yourself to see where the bug is, please do. Otherwise, we can figure it out and move the issue either direction.

[2021-06-09 20:50] riverar commented on #513
@AArnott That would perhaps hold true if we were at major version zero `0.x`. But we're not, which certainly makes this discussion a bit awkward.

`10.2.84-preview` implies it's a preview release of what will eventually become `10.2.84`, but because it introduces breaking changes over `10.0.xx`, that's not an appropriate version number to apply / violates semver.

I think it would be easier if you

[2021-06-09 20:52] mikebattista commented on #521
Thanks for the feedback. Sounds like we can keep the current design and just update the tooling that is currently having issues.

[2021-06-09 20:52] #521 closed

[2021-06-09 20:54] mikebattista commented on #513
It's unfortunate we can't start at 0.x which is really where we are currently. In any case, we'll address this in a future update.

[2021-06-09 21:10] riverar commented on #513
One plan of action could be:
1. Increment to `11.0.0-preview.1` sometime soon
2. Iterate on the metadata as needed, incrementing the pre-release tag (e.g. `11.0.0-preview.402`), break whatever you want
3. Release `11.0.0` when ready

<details>
  <summary>Spoiler</summary>
Just in time for Windows 11, right? 😉
</details>

(Have not validated that against Nuget's implementation of semver.)

[2021-06-09 22:23] mikebattista commented on #512
Let me know if the changes I checked in are sufficient or if we need to change more types per my previous questions.

[2021-06-09 22:34] #522 closed

[2021-06-09 22:55] #520 closed

[2021-06-09 23:46] mikebattista commented on #515
You're referring to the `wProcessorArchitecture` field within the nested struct inside `SYSTEM_INFO`, right?

If so, yes there's a Win32 enum we can apply here, but need to first fix a bug in our enum tooling related to fields within nested structs. Assigning to @sotteson1 for that.

[2021-06-10 01:22] mikebattista commented on #514
Need to look into the Type field.

[2021-06-10 04:20] marler8997 opened #523 "Apply [Optional] to optional struct/union pointer fields"
I thought I would use the `Optional` attribute to determine whether or not a pointer could be `NULL` (see https://docs.microsoft.com/en-us/cpp/code-quality/annotating-function-parameters-and-return-values?view=msvc-160).  However I've come to realize that the metadata only includes this attribute on function parameters, but does not use the optional attribute on struct/union fields, even if it has

[2021-06-10 11:13] knopp opened #524 "Why is E_NOTIMPL inside Windows.Win32.Graphics.DirectDraw now?"
Is this intentional?

(in 10.2.84.45254)

[2021-06-10 17:10] #524 closed

[2021-06-10 17:10] mikebattista commented on #524
Thanks for pointing this out. It was not intentional.

[2021-06-11 02:04] #514 closed

[2021-06-11 16:43] #503 closed

[2021-06-11 22:30] AArnott commented on #523
Which language are you generating for? (just curious)
Does that language let you add nullable annotations to some generated code and not others?
Would you generate a non-default constructor on these structs that would take the values required to initialize the required fields?

[2021-06-12 00:56] marler8997 commented on #523
I'm generating bindings for the Zig programming language which can be found here: https://github.com/marlersoft/zigwin32

By default Zig does not allow pointers to be null.  To accept null, they need to be marked as "optional" with `?`:

[code]

Note that the bindings would "work" if we made all pointers optional, but the bindings would be better if they properly represented which parameters and f

[2021-06-13 02:00] weltkante commented on #519
just for the record, `wParam` and `lParam` in `SendMessage` can be pointers

[2021-06-13 02:03] weltkante commented on #525
yes, in interface signatures it treats `bool` as 2-byte `VARIANT_BOOL` ... booleans in C# interop are hell ;-)

[2021-06-13 02:44] weltkante commented on #489
VK constants are byte sized, which is obvious from their declaration and mentioned occasionally in the API descriptions where its used, for example in [VkKeyScanA ](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-vkkeyscana) which says the VK constant is returned in the low byte, or in [GetKeyboardState](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-ge

[2021-06-13 03:25] weltkante opened #527 "RichTextBox and TextBox constants got mixed up"
There are a few RichTextBox `EM_*` constants that also exist under the same name as TextBox constants, they have different values in `richedit.h` and `winuser.h`. For whatever reason the winmd file contains the constants from `richedit.h` even though normal inclusion order means `winuser.h` gets included before `richedit.h`, so normally C/C++ programs never see the richedit definitions unless they

[2021-06-13 03:28] weltkante commented on #121
Be careful with `EM_*` constants which are defined incompatibly for RichTextBox and TextBox but use the same prefix (also see #527 for an actual bug in the winmd file regarding this). These constants should go into different enums based on the header in which they are defined.

[2021-06-13 10:22] weltkante commented on #423
Note that there exist plenty `HDC` that are returned from various functions, or passed as arguments into callbacks, where you are just sharing the HDC and are never supposed to release them. I think `GetDC` is like `CreateDC` in that it needs a special return type, maybe an `AcquiredHDC` matching the `CreatedHDC` and leave the normal `HDC` without RAII annotations?

For example [BeginPaint](https:

[2021-06-13 10:26] weltkante opened #528 "CreateIC* should return CreatedHDC"
[CreateICA](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-createica) and [CreateICW](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-createicw) should return a `CreatedHDC` - per documentation the RAII call is `DeleteDC`

(also see my [comment](https://github.com/microsoft/win32metadata/issues/423#issuecomment-860187551) on #423, it doesn't seem right that

[2021-06-14 01:37] wravery commented on #66
To do this out of tree (i.e. in a standalone project), I think the `winmd` needs to carry more information. For example, all of the `--remap` type names passed to `ClangSharpPInvokeGenerator` in `baseRemap.rsp` need to be there to reliably map the types seen in another header to the correct types defined in `Windows.Win32.winmd`. I'm thinking of adding an attribute to `Windows.Win32.Interop.dll` t

[2021-06-14 01:39] wravery commented on #66
The standalone project would probably also resemble the complete pipeline of this project quite a bit, but hopefully as more of a turnkey solution.

[2021-06-14 11:42] bodrick opened #529 "PCWSTR namespace issues"
PCWSTR relies on PWSTR but can't compile because of either PCWSTR should be in the foundation namespace or needs to reference the foundation namespace.

[2021-06-14 12:50] dominiccooney commented on #512
I tried to ./DoAll.ps1 to build this, but it seems I'm missing a dependency?

Is there a more detailed setup guide than CONTRIBUTING.md?

[2021-06-14 12:59] AArnott commented on #529
`PCWSTR` isn't in the metadata. Is this compilation problem something you observe in a particular projection? It may be better to file or move this issue to the projection's repository.

[2021-06-14 13:03] AArnott commented on #523
C# 8 allows for nullable ref annotations as well. They don't apply to pointer types, but in some cases we represent pointers as non-pointer types in our C# projection, so I would be interested in some kind of annotations in the metadata as well.

[2021-06-14 14:02] bodrick commented on #529
It is a compilation problem, I'm using CsWin32, if I take the generated source and compile it separately with the namespace correctly specified in PCWSTR it compiles correctly .

[2021-06-14 16:34] mikebattista commented on #512
It should be pulling this package from NuGet.org.

Can you check your NuGet package sources? Do you have more sources than NuGet.org?

[2021-06-14 18:17] mikebattista commented on #523
Is this the main issue here? That [Optional] is not applied to optional struct/union fields? Do these optional struct/union fields have SAL annotations on them and we're just not emitting them? Are they missing SAL annotations? Could you provide some examples of fields you're finding that should be marked with [Optional]?

[2021-06-14 18:50] mikebattista commented on #423
So is the conclusion here to:
1. Remove [RAIIFree] from HDC?
2. Create a clone of CreatedHDC called AcquiredHDC and apply that to GetDC?
3. Update CreateIC* to return CreatedHDC (#528)?

[2021-06-14 19:11] kennykerr commented on #423
As I originally created this issue, I'll just add that I haven't started using `RAIIFree` in Rust because of #389 and #423 making it too hard to experiment so I can't really comment on what would be best.

[2021-06-14 19:44] marler8997 commented on #523
The struct I ran into was `WNDCLASSW` (or `WNDCLASSA`).  It looks like it does not contain SAL annotations.  The `lpszMenuName` can be `NULL` and the handle values can also be `NULL`.

There are no "optional" SAL annotations on any struct/union field as far as I could see.  Extending SAL annotations from function parameters to struct/union fields seems a good way to extend an existing feature to a

[2021-06-14 21:34] AArnott commented on #389
How about using typerefs in these two attributes instead of fully-qualified strings?

[code]

That would leverage the metadata for what ECMA-335 can efficiently represent, so the metadata would likely get slightly smaller. It also gives the projection code a convenient way to get each of the three string elements (namespace, class name, and method name) that they may need without allocating string

[2021-06-14 21:41] mikebattista commented on #479
The second issue is by design. I'll fix the first issue with the enum not being used consistently.

[2021-06-14 21:50] AArnott commented on #121
Given all the "style" constants tend to get bitwise-OR'd together, grouping them under several enums actually makes it harder in C# to do because each one will have to be explicitly cast to `uint` to make C# happy.
If no projection exists that benefits from these being enums without adding tax to actually *using* them, we should probably *undo* what we've already done and close this issue as Won't

[2021-06-14 21:51] AArnott commented on #121
The `WM_` constants represent an open set of values as well. Since enums work best for closed sets of values, we should probably leave the `WM_` constants as constants as well.

[2021-06-14 22:17] KalleOlaviNiemitalo commented on #389
According to ECMA-335 6th ed. II.23.3 Custom attributes, an argument for a parameter of type System.Type is encoded as a string anyway. How would that save anything? Or were you going to use a constructor with a different parameter type?.

[2021-06-15 00:34] marler8997 commented on #389
@AArnott that format would be fine with me.

[2021-06-15 16:12] marler8997 opened #530 "TRUE and FALSE constants removed"
It appears that the `TRUE` and `FALSE` constants have been removed?  Was this intentional?

[2021-06-15 17:22] mikebattista commented on #530
There was feedback that the metadata shouldn't define constants like this that languages define themselves. I believe these were removed as part of addressing that.

[2021-06-15 18:14] #479 closed

[2021-06-15 18:32] marler8997 commented on #530
Ok thanks for the info, closing as removal was intended

[2021-06-15 18:32] #530 closed

[2021-06-15 19:32] #121 closed

[2021-06-15 22:28] marler8997 commented on #530
So for clarification, what criteria are we using to determine what constants go in the metadata and what ones don't?

[2021-06-15 22:55] galenb-msft opened #531 "Build issue for windows crate bindings"
I am not able to build the bindings needed for my app using the 0.11 version of the windows crate.  I have built a minimal repro at: https://github.com/galenb-msft/minimal_repro.git

Doing a cargo build in this repo should reproduce the error.

[2021-06-15 22:58] damyanp opened #532 "D3D12_DEFAULT_DEPTH_BIAS has type uint (it should be int)"
Although D3D12_DEFAULT_DEPTH_BIAS appears as a macro defined as `(0)` in the header, and is declared as a `uint` in the IDL, it is intended to be passed in to `D3D12_RASTERIZER_DESC::DepthBias`, and so this type mismatch upsets strongly typed languages.

[2021-06-15 23:04] mikebattista commented on #530
Constants that projections will ignore in favor of native language constructs are good candidates for removal. There were a few obvious examples we removed.

[2021-06-15 23:20] #532 closed

[2021-06-15 23:21] mikebattista commented on #532
FYI I recently added https://github.com/microsoft/win32metadata/blob/master/CONTRIBUTING.md#Constants which details how to make changes like this to constants.

[2021-06-16 01:31] #528 closed

[2021-06-16 06:00] mikebattista commented on #179
We decided not to make an enum for `WM_*` as part of https://github.com/microsoft/win32metadata/issues/121#issuecomment-861019538.

I think what's left here is DibColors.

[2021-06-16 14:41] dominiccooney commented on #512
Looked at this briefly. I think the problem is I'm using PowerShell 5 and Install-DotNetTool needs PowerShell 7 for Select-String -Raw. Will keep poking at it.

[2021-06-16 15:24] mikebattista commented on #527
In #121, we decided against enums for message and style constants. Do we still want enums here?

Whether these are enums or constants, we can't have duplicate definitions of constants or enum members with the same time, otherwise they break some projections like Rust. We could go with your first option of only exposing the winuser values, but I'd prefer to support both if we can.

@kennykerr any s

[2021-06-16 15:37] kennykerr commented on #527
This bug is not specific to Rust.

The problem is that the constants in metadata have the wrong values. In C++, the following holds true:

[code]

But the metadata defines `EM_GETLIMITTEXT` as follows:

[code]

[2021-06-16 15:40] mikebattista commented on #527
EM_GETLIMITTEXT and the others listed are defined with different values in different headers.

[2021-06-16 16:04] kennykerr commented on #527
Even if I change my C++ example as follows:

[code]

I still get the same value. You can use `/showIncludes` to observe that while `richedit.h` defines `EM_GETLIMITTEXT` as follows:

[code]

It only does so after including `winuser.h` that defines it as follows:

[code]

So while there may be a roundabout way to get the other values, it doesn't seem to be the norm.

[2021-06-16 16:11] ChrisGuzak commented on #519
`_In_opt_` should only be applied to pointers, not value types (ints, bools, etc.).

[2021-06-16 16:27] mikebattista commented on #527
Very strange. So sounds like we just need to expose the values from winuser.h.

@weltkante do you agree?

[2021-06-16 16:47] mikebattista commented on #519
Thanks Chris. So sounds like the SAL annotations are wrong in these cases and we should just remove [Optional] from the metadata here.

Can we fix the SAL annotations in the SDK as well? Or is that a breaking change?

[2021-06-16 16:56] marler8997 commented on #523
Ping @kennykerr, how does the Rust projection handle nullability here?  Are you using the `Optional` attribute to determine nullability or are you just allowing all pointers to be `NULL`?

[2021-06-16 17:16] kennykerr commented on #523
Everything supports a null/zero/optional value. I had proposed a non-nullable concept a while back but it was deemed impractical to go back and annotate the many existing APIs that are known to be non-null. The Windows ABI also depends on being able to pass blittable structs/arrays and marshal them in ways that in practice demand nullable fields in most cases. I have since made it much easier to d

[2021-06-16 17:40] weltkante commented on #527
yes, including the ones from winuser.h are the ones you want in 99% of the cases. normal C/C++ programs need to go out of their way to access the richedit constants (by undef'ing the ones from winuser before including richedit)

The ones from richedit.h are for very special usecases, for example the WinForms framework needs them to talk to the richedit specifically. If you aren't going to have sep

[2021-06-16 19:21] #527 closed

[2021-06-16 19:25] damyanp opened #533 "Does win32metadata mark methods as safe/unsafe?"
When I view the metadata in ilspy I see that some methods are marked safe and others unsafe.  For example:

[code]

What does "unsafe" mean in this context?  Does this describe memory safety in a way that, say, the rust projection could take advantage of?

[2021-06-16 19:45] KalleOlaviNiemitalo commented on #533
I guess `unsafe` is just required by C# for the pointer type in the `void* pData` parameter and not separately encoded in metadata.

[2021-06-16 19:49] kennykerr commented on #533
Yes, I couldn't find any metadata that specifically marks the method "unsafe".

[2021-06-16 20:55] mikebattista commented on #512
If you just want to browse the latest metadata without building the repo, you can just open https://github.com/microsoft/win32metadata/blob/master/scripts/BaselineWinmd/Windows.Win32.winmd in ILSpy.

Though I would like to understand any challenges you might be having setting up your dev environment in case we need to add something to CONTRIBUTING.md.

[2021-06-17 20:51] dominiccooney commented on #512
This is a fresh-ish machine. Problems so far:
- PowerShell 5, not 7. CONTRIBUTING.md does link to PowerShell stable tag, but I missed the distinction.
- I did not have https://api.nuget.org/v3/index.json as a Nuget package source so could not find ClangSharpPInvokeGenerator.

[2021-06-17 21:19] austinkinross opened #534 "AdjustWindowRect and CreateWindowExA's dwStyle parameters are inconsistent"
[CreateWindowExA's dwStyle parameter ](https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/UI/WindowsAndMessaging/fn.CreateWindowExA.html)is a WINDOW_STYLE. But [AdjustWindowRect's dwStyle parameter](https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/UI/WindowsAndMessaging/fn.AdjustWindowRect.html) is a u32.

In C++ they're both DWORDs. Is the difference in R

[2021-06-18 06:48] leonardder opened #535 "DVC Client api definitions missing"
I'm not sure whether this is the proper place to report this, but it seems not yet possible to use the [Dynamic Virtual Channel client APIs](https://docs.microsoft.com/en-us/windows/win32/termserv/dvc-client-apis) yet. I tried adding `tsvirtualchannels.h.*` to my native methods file in a C# project without luck.

[2021-06-18 14:54] rylev opened #536 "Annotation to when BOOL indicates to call GetLastError"
A common pattern is for functions to return a `BOOL` and if `FALSE`, for the caller to check the return value of `GetLastError`. It would be potentially be help for the metadata to annotate such uses such that consumers of the metadata could provide more useful return types of such functions.

For instance, in Rust instead of the following:

[code]

You could have:

[code]

[2021-06-18 15:26] KalleOlaviNiemitalo commented on #536
NULL and INVALID_HANDLE_VALUE are other popular values to return when a function sets the last error. Does the metadata describe those yet?

Then there are also functions like [CreateMutexW](https://docs.microsoft.com/windows/win32/api/synchapi/nf-synchapi-createmutexw) and [CreateSemaphoreW](https://docs.microsoft.com/windows/win32/api/synchapi/nf-synchapi-createsemaphorew), which can return a va

[2021-06-18 15:33] KalleOlaviNiemitalo opened #537 "IsValidSecurityDescriptor listed in WithSetLastError.rsp"
<https://github.com/microsoft/win32metadata/commit/0992cabd9f7d44c5375d133a44ddf18c17a4d694> added a script that scrapes the docs for GetLastError references and generates generation/WithSetLastError.rsp, which I guess is then translated to metadata. One of the functions listed there is [IsValidSecurityDescriptor](https://docs.microsoft.com/windows/win32/api/securitybaseapi/nf-securitybaseapi-isva

[2021-06-18 16:53] mikebattista commented on #535
@AArnott

I see those APIs in Windows.Win32.System.RemoteDesktop. For now you need to list the COM interfaces in NativeMethods.txt. https://github.com/microsoft/CsWin32/pull/300 will let you list the namespace to get everything.

Let me know if everything you need is there.

[2021-06-18 17:24] mikebattista commented on #536
@kennykerr @AArnott @sotteson1

We have `[DllImport(..., SetLastError = true)]` on all of these examples. How are the projections using that information today? If a function returns `bool`, and `SetLastError = true`, is that enough of a hint for projections to provide the friendly interface? Likewise when a function has `SetLastError = true` and returns `NULL`.

The case where a function returns a

[2021-06-18 17:29] mikebattista commented on #537
Thanks for pointing this out.

[2021-06-18 17:32] kennykerr commented on #536
Ah, I think `SetLastError = true` in C# equates to the `SupportsLastError(0x0040)` flag in the `ImplMap` table. I should be able to use that, assuming there's an unambiguous way to determine whether the function succeeded/failed. We can transfer this issue to the `windows-rs` repo. I'm assuming the C# projection already supports this automatically.

[2021-06-18 18:36] mikebattista commented on #536
Given that we have a `HANDLE` type, you could probably check for `INVALID_HANDLE_VALUE` in addition to `NULL` in that case as well without any additional annotations in the metadata. [CreateFile](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-createfilea) is an example like that.

[2021-06-18 18:51] #533 closed

[2021-06-18 19:06] kennykerr commented on #533
What was the conclusion to @damyanp's question?

[2021-06-18 19:11] mikebattista commented on #533
You all answered that, no?

[2021-06-18 19:13] kennykerr commented on #533
I was hoping for something a little more definitive than "I guess..." 😉

[2021-06-18 19:22] mikebattista commented on #533
There's nothing in the metadata that is tagging things as unsafe as you pointed out. ILSpy when rendering with C# will show unsafe per its [definition](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/unsafe). If you switch rendering to IL, you won't see unsafe on these definitions.

[2021-06-18 19:36] kennykerr commented on #533
Thanks!

[2021-06-18 19:46] #534 closed

[2021-06-19 06:21] leonardder commented on #535
Thanks a lot, listing these interfaces explicitly works for me.

Regarding the namespaces, are they documented somewhere, i.e. how to do the translation from a particular header or idl file (tsvirtualchannels) to a namespace name?

[2021-06-19 21:27] riverar opened #538 "Add IWindowNative (microsoft.ui.xaml.window.h)"
[IWindowNative](https://docs.microsoft.com/en-us/windows/apps/winui/reference/iwindownative) is in a weird spot. It's in the realm of MUX and owned by their team but it's not an API they'll want to add to their metadata (Microsoft.UI.winmd) for, well, _HWND reasons_.

But [all MUX developers will need this](https://github.com/microsoft/microsoft-ui-xaml/issues/2564), if they want to perform basic

[2021-06-20 07:04] astraw opened #539 "How to browse/search the metadata?"
I'm new to programming for Windows APIs. The instructions in the README about how to find a particular API definition are a bit sparse for me: "If you'd like to browse the metadata to see what we're emitting, download the NuGet package and load the included winmd file in ILSpy."

I have tried and failed to do this. I installed ILSpy using the Windows Store, which gives me ILSpy verion 7.1.0.6543.

[2021-06-20 16:36] mwcampbell opened #540 "SAFEARRAY should have a type parameter"
In at least some IDL definitions, `SAFEARRAY` has a type parameter. See for example the definition of `IRawElementProviderFragment::GetRuntimeId` in UIAutomationCore.idl. I notice though that MIDL doesn't include this information in the generated header file, so I understand that this might be difficult to implement.

[2021-06-20 22:47] #539 closed

[2021-06-20 22:50] mikebattista commented on #539
I updated the README to simplify things. Follow the links to download the winmd file and install the latest version of ILSpy. Once you load the winmd file in ILSpy, you'll find the search interface.

If you can't find a specific API, file a separate issue for that and we'll look into it.

[2021-06-20 23:10] mikebattista commented on #538
Thanks. Sounds like another case of https://github.com/microsoft/win32metadata/issues/66 which is something we are working on. We'll look into it.

[2021-06-20 23:27] mikebattista commented on #535
Awesome. For now, you can follow the links in the README to download the latest winmd file and load it in ILSpy where you can search for an API and see where it's defined.

Eventually we'll want namespace added to our API documentation along with header file like https://docs.microsoft.com/en-us/windows/win32/api/tsvirtualchannels/nn-tsvirtualchannels-iwtsplugin#requirements, but that doesn't exis

[2021-06-20 23:27] #535 closed

[2021-06-21 07:42] astraw commented on #539
Thank you. Using the updated instructions, I can indeed find `MFCreateAttributes` in the metadata using the search function of ILSpy.

[2021-06-21 07:49] astraw opened #541 "Media Foundation video subtype GUIDs missing from metadata"
Missing from the metadata currently are the Media Foundation video subtype GUIDs:

- `MFVideoFormat_RGB8`
- `MFVideoFormat_RGB555`
- `MFVideoFormat_RGB32`
- `MFVideoFormat_L8`
- and more

[2021-06-21 09:16] tim-weis commented on #539
Loading `Windows.Win32.winmd` into ILSpy is sufficient for discovering available API calls. It's not enough to get custom attributes resolved, though:

![notifyicondata](https://user-images.githubusercontent.com/23303506/122737534-6ca07000-d281-11eb-9a7d-55c56f7d4609.png)

For that you will need to load `Windows.Win32.Interop.dll` as well (or copy it next to the .winmd file for automatic discovery

[2021-06-21 14:49] marler8997 commented on #539
I've found my JSON projection is good for searching and analyzing the data.  Since it's in JSON, there are many tools you can use to parse/filter it and then process it with your favorite tools like awk/sed/grep/etc.

https://github.com/marlersoft/win32json

[2021-06-21 14:50] AArnott commented on #536
`SetLastError` is critical for .NET projections, but it doesn't tell us *when* to call `GetLastError()`. Calling it in success cases can be a mistake because not all methods call `SetLastError` in success paths. For Rust (or C# if we were to generate our own throwing friendly overloads) we would need to know how to discern a successful call from a failing one. That info isn't in the header files s

[2021-06-21 15:06] kennykerr commented on #536
Yes, it depends on whether we can clearly tell whether a call succeeded/failed.

[2021-06-21 17:18] mikebattista commented on #539
@tim-weis yes I added the interop dll to the instructions.

[2021-06-21 17:43] kennykerr commented on #538
fyi @jonwis reunion/winui should ship a winmd with this definition.

[2021-06-21 19:17] austinkinross opened #542 "Missing HRESULT definitions (E_NOTIMPL, E_FAIL, etc)"
E_POINTER is [defined as a constant:](https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/Foundation/constant.E_POINTER.html)

```pub const E_POINTER: HRESULT;```

Lots of other HRESULTs aren't defined though. e.g. E_NOTIMPL, E_FAIL, etc. My use case: I have a function that will do some D3D12 work, but I haven't implemented it yet, so I temporarily want the function to return E_

[2021-06-21 19:39] austinkinross opened #543 "DXGI object creation methods are kinda difficult to use"
I'm pretty new to Rust, but this is the best way I've found to create an IDXGISwapChain3. It's also how the [d3d12 sample](https://github.com/microsoft/windows-rs/blob/d29f56f18c0a0d246f77361dee2d54da1cc0e856/examples/d3d12/src/main.rs#L322) does it:

[code]

It would be great if I could do this instead:

[code]

This would be similar to D3D12 :

[code]

Is this something that you would be interes

[2021-06-21 21:02] mikebattista commented on #542
E_NOTIMPL is in Windows.Win32.Foundation as of #524. E_POINTER is there as well.

Looks like E_FAIL, E_OUTOFMEMORY, and E_INVALIDARG need the same fix as #524 .

[2021-06-21 21:41] mikebattista commented on #541
Yes we need to add some code to recognize the pattern here. Assigning to Steve to help with that.

One missing piece is the ability to resolve constant values in the ConstantsScraper like:

[code]

[2021-06-21 22:28] angelazhangmsft commented on #538
@riverar - FYI, for C#/.NET 5 we have [added COM interop APIs to the Windows SDK projections](https://github.com/microsoft/CsWinRT/pull/830), and this will ship in the July .NET 5 SDK update:

This will make it easier to call interop functions in C#, for example:

[code]

We are working on the documentation for these new APIs.

[2021-06-21 22:36] kennykerr commented on #538
That helps C# but not any other language (like C++ or Rust) as that knowledge is baked/hardcoded into the C# projection. Ideally, we can have metadata that defines this for every language.

[2021-06-21 23:35] mikebattista commented on #536
So for cases where `SetLastError = true` and projections can clearly identify failure (like HANDLE returning INVALID_HANDLE_VALUE), they can provide a friendlier interface.

Regarding annotations for the failure values of functions, I agree on the surface it sounds like that would be pretty tedious to capture. I'm open to add support for an attribute or something, but we'd need to rely on the comm

[2021-06-22 00:45] AraHaan commented on #460
You sure that that struct is not ``packed(4)`` on all arch's windows supports and said api (even on 32-bit ``arm``)?

[2021-06-22 01:00] AArnott commented on #536
I have no plans in CsWin32 to add throwing-overloads, so we have everything we need.
For COM interfaces, HRESULT is always returned and error cases are clearly spec'd, so throwing from those is already built into the CLR's interop layer (when PreserveSig is false).

I don't object to an attribute either, even if contributions alone supply it. But we'd have to first identify the possible method out

[2021-06-22 01:10] AraHaan opened #544 "Embed api docs inside of winmd files."
So the winmd files are now arch specific with the docs not embeded inside of the winmd files to fix https://github.com/microsoft/CsWin32/issues/38 which could emilinate the need to depend on YamlDotNet which then fixes this issue https://github.com/microsoft/CsWin32/issues/221 when using the generator to generate code while using an analyzer that depends on an older version of YamlDotNet which blo

[2021-06-22 02:07] #542 closed

[2021-06-22 02:22] mikebattista commented on #544
There's only 1 winmd file. The APIs are decorated with custom attributes for architecture-specific designs where appropriate.

The preference from early projection authors was to not include documentation in the winmd for size, performance, and other concerns. Our current plan is to genericize the documentation parser from C#/Win32 so that all projections can provide a similar experience. This wou

[2021-06-22 03:55] AArnott commented on #544
Embedding the docs in as assembly already happens in CsWin32. There is no perf gain to be had from that. The perf gain will be from changing the format of those docs from YAML to a binary indexed representation so that parsing the entire YAML file at startup is no longer required. This perf work is already tracked in https://github.com/microsoft/CsWin32/issues/38.

But [as I mentioned to you earli

[2021-06-22 03:55] #544 closed

[2021-06-22 15:00] AArnott commented on #389
@KalleOlaviNiemitalo It's not that we avoid strings in the metadata, since yes every type reference is encoded as a string, like you say.
It's that when we *read* the metadata in our projections, we needn't decode a long string only to parse and dismantle it into the smaller strings that we require. Instead, we can observe the `TypeReferenceHandle` and the method name string and proceed with proce

[2021-06-22 23:26] jnm2 commented on #389
@AArnott My recollection is that I didn't get a TypeReferenceHandle for attribute arguments that were type constants, but I had to parse the string myself. I filed an issue with S.R. Metadata to provide a decoder because it was tedious.

[2021-06-23 00:21] kennykerr commented on #389
Yes, internally it is encoded as a string in the attribute blob. The C# parser probably hides this detail.

[2021-06-23 16:11] damyanp opened #547 "_Field_size_full_ struct member annotation is ignored"
For example:

[code]

Becomes:
[code]

It would be good to have some metadata here associating these two fields to allow projections to do the right thing.  See for example https://github.com/microsoft/windows-rs/issues/907.

[2021-06-24 22:43] michael-hawker opened #551 "Virtual Key Codes not Generated"
**Is your feature request related to a problem? Please describe.**
When adding [`SendInput`](https://docs.microsoft.com/windows/win32/api/winuser/nf-winuser-sendinput) as a native method, the list of [virtual keycodes](https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes) accepted by the `INPUT` type is not auto-generated, so you have to find this document to do the mapping.

[2021-06-25 16:31] xgalaxy opened #552 "Question: Does the GDK work with WinRT?"
Title basically says it all. I'm curious if the GDK is an API that can be exposed to Rust via the work that is being done in this library?

Thanks.

[2021-06-26 21:55] wravery commented on #66
I integrated #553 (and #549) with the SDK being developed in the `msbuild` directory. It depends on that SDK, but if/when that PR is merged and the SDK is ready I think that addresses all of this issue.

[2021-06-26 22:31] ryancerium opened #554 "ShowWindowAsync Parameter nCmdShow should be a SHOW_WINDOW_CMD"
I'm using the JSON definitions from Marler.  `ShowWindowAsync` has noticeably different metadata for the `nCmdShow` parameter.

[code]

[code]

[2021-06-27 17:12] knopp opened #559 "Add an attribute for identifying methods and functions that return alternative success codes"
For example `DoDragDrop` returns `DRAGDROP_S_DROP` on successful drop. However there doesn't seem to be any way to retrieve this value, since windows-rs immediately calls `ok()` on the `HRESULT`. And given that `DRAGDROP_S_DROP` doesn't have the error bit set it is not passed as error in the `Result`.

Is this an oversight?

[2021-06-28 02:19] Ben-Lichtman opened #555 "Missing type for THREAD_ACCESS_RIGHTS"
There is a PROCESS_ACCESS_RIGHTS struct and consts to represent different access values when using OpenProcess()

but there is not a THREAD_ACCESS_RIGHTS for the equivalent with OpenThread()

[2021-06-28 08:48] Ben-Lichtman opened #556 "Missing type / consts for CONTEXT.ContextFlags"
bindings::Windows::Win32::System::Diagnostics::Debug::CONTEXT as a field named ContextFlags.

The values that one may set for this are difficult to find though they seem to be documented here: https://github.com/tpn/winsdk-10/blob/master/Include/10.0.14393.0/km/ntddk.h#L493-L517

There should either be a struct for this field, or at least just some consts for setting it properly somewhere in the m

[2021-06-28 13:03] knopp opened #557 "COM calls causing memory leaks"
I'm not sure if I'm missing something, because it seems like most member COM calls are leaking parameter objects. For Example:

[code]

Here the `punk: Option<IUknown>` argument gets transmuted into raw pointer. That means the instance does not get dropped and now we're missing one `Release` call.

Interestingly enough some other classes pass COM objects parameters through `windows::IntoParam....`

[2021-06-28 14:21] #554 closed

[2021-06-28 15:01] #555 closed

[2021-06-28 15:15] mikebattista commented on #556
@sotteson1 CONTEXT is an architecture-specific struct and the enum for each would be different looking at the headers. Can this be modeled with enums.json today?

[2021-06-28 15:41] mikebattista commented on #551
@sotteson1 @jnm2 @weltkante

We've got VK_ constants defined in winuser.h, kbd.h, and xinput.h.

Is the request to merge all of these into an enum and use that for the type of the wVk field in the [KEYBDINPUT](https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-keybdinput) struct?

Will this have ramifications for APIs like GetKeyboardState as mentioned in #489? The documentation

[2021-06-28 15:53] mikebattista commented on #552
This is another instance of #66 which is something we are working on.

It's in early stages, but the idea is to provide some tooling to help others produce metadata for their C-style APIs that could then be plugged into our projections like the windows crate.

[2021-06-28 16:02] AArnott commented on #551
For a closed set of constants, I'd tend to favor an enum.

[2021-06-28 16:10] jnm2 commented on #551
I'm not sure it's a good idea for these constants to become an enum because it's missing a lot of members that are currently passed via `KEYBDINPUT { wVk = '3' }`. Making the `wVk` field use an enum type would mean requiring explicit casts or generating `VK_3` etc which aren't in the metadata or documented. (Originally mentioned at https://github.com/microsoft/CsWin32/issues/267)

[2021-06-28 16:14] mikebattista commented on #512
I added this to CONTRIBUTING.md.

Are there any other changes required here for the socket APIs?

[2021-06-28 16:20] mikebattista commented on #551
Why do you need to synthesize 36 constants? Are they not in the headers? Just missing from the metadata?

[2021-06-28 16:30] jnm2 commented on #551
I don't think they are in the headers. What I do know is both that they are not documented as existing and they are not in the metadata.

[2021-06-28 16:32] jnm2 commented on #551
Looked at WinUser.h:

[code]

[2021-06-28 16:36] rylev opened #558 "URL_COMPONENTS (winhttp.h) has wrong field type for nScheme"
According to the [docs](https://docs.microsoft.com/en-us/windows/win32/api/winhttp/ns-winhttp-url_components), `URL_COMPONENTS` should have a field `nScheme` which is of type `INTERNET_SCHEME` and the metadata says indeed that the value should be of type `INTERNET_SCHEME` from wininet.h.

However, this is incorrect as the field is actually `INTERNET_SCHEME` as defined in winhttp.h which has a diff

[2021-06-28 16:50] mikebattista commented on #551
Got it. Thanks. We can add those to the metadata one way or another.

[XINPUT_KEYSTROKE.VirtualKey](https://docs.microsoft.com/en-us/windows/win32/api/xinput/ns-xinput-xinput_keystroke) definitely needs its own enum just for the xinput.h constants.

For KEYBDINPUT.wVk, should it contain all VK_ values from all headers (including xinput.h) as well as the synthesized values you listed?

[2021-06-28 18:17] jnm2 commented on #551
That's something I don't know how to verify, sorry. My knowledge on this is a subset of the docs.

[2021-06-28 20:53] knopp commented on #559
Didn't even know that was an option :) Sounds great, though I'm not clear on how this would work. I assume every call like this would need to be tagged manually, since there's no way to infer this from headers?

[2021-06-28 22:22] michael-hawker opened #560 "C# Process APIs provide IntPtr needing explicit cast for HWD methods"
_Was told to follow issue here from [this conversation](https://github.com/microsoft/CsWin32/issues/61#issuecomment-867972665)._

The C# Process APIs use the `IntPtr` type, for instance when trying to get the handle from a `Process` [here](https://docs.microsoft.com/dotnet/api/system.diagnostics.process.mainwindowhandle).

When then making a Win32 call to something like `SetForegroundWindow` this

[2021-06-28 22:29] michael-hawker commented on #551
Yeah, had to dig through the pages of documentation to get to the virtual key-code list, so if `wVk` was just an enum or something, then intellisense would make it pretty easy to grab most common keystrokes to populate the input array with.

Seems like a few APIs could benefit from this, so happy with any solution that works for both. Even if they're constants, as long as there's some way to know

[2021-06-28 22:38] mikebattista commented on #551
Since we can't have the same enum member names across enums for certain projections, I think I'll create an enum for winuser.h values and set KEYBDINPUT.wVk to that, and then create a second enum for xinput.h and set XINPUT_KEYSTROKE.VirtualKey to that.

That should cover the majority scenarios and you can always cast values from the other enum if you need to.

[2021-06-29 00:34] sharwell opened #561 "MapViewOfFile should generate an overload returning SafeMemoryMappedViewHandle"
## Actual behavior

`MapViewOfFile` only generates an overload returning `void*`.

## Expected behavior

A separate overload, e.g. a generated `MapViewOfFile_SafeHandle` method, should return `SafeMemoryMappedViewHandle`.

https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/Common/src/Interop/Windows/Kernel32/Interop.MapViewOfFile.cs#L12-L18

https://refer

[2021-06-29 02:06] mikebattista commented on #489
As part of adding these to an enum in #551, I changed the type to ushort.

[2021-06-29 02:06] #489 closed

[2021-06-29 02:08] mikebattista commented on #551
Reopening to add the synthesized values.

[2021-06-29 02:27] #551 closed

[2021-06-29 02:32] mikebattista commented on #560
@andrewarnott I think this would be a request of the projection. The Process API referenced here is the .NET API not a Win32 API. The request is to accept IntPtr wherever HWND is accepted to avoid the (HWND) cast.

[2021-06-29 04:16] AArnott commented on #560
Ah, I may have misunderstood the feedback. I thought the IntPtr was coming from the metadata, but I see now it's coming from a BCL type.
@michael-hawker, I'm sorry to misdirect you. I'll reply again on that discussion. Let's close this issue since there's nothing for the metadata repo to do.

[2021-06-29 04:16] #560 closed

[2021-06-29 11:26] weltkante commented on #489
@mikebattista type is byte as I explained [above](https://github.com/microsoft/win32metadata/issues/489#issuecomment-860141943)

[2021-06-29 16:55] mikebattista commented on #489
XInput VKs are much greater than 256.

[2021-06-29 17:24] weltkante commented on #489
That doesn't change the fact that the `VK_` constants of the win32 API are supposed to be bytes ...

if XInput also uses the VK prefix it shouldn't be in the same enum in the first place, because its constants will not be compatible with the win32 API

[2021-06-29 17:29] mikebattista commented on #489
XInput is part of the Win32 API. I put them in separate enums for other reasons, but can you pass an XInput VK to SendInput? Can you also use the base VKs with the XInput APIs?

[2021-06-29 17:32] mikebattista commented on #559
You want an attribute that indicates that a function doesn't return S_OK on success?

[2021-06-29 17:36] weltkante commented on #489
Not sure how to name the "base API" if not win32 - maybe call it winuser after the header the API is coming from? XInput comes from the DirectX family of APIs which for me mentally is not part of win32 but a separate API set (historically you had to install it separately after all), maybe I'm having the wrong mental model here. XInput may be reusing the winuser definitions and extending them, but

[2021-06-29 17:38] damyanp commented on #559
This is for functions that return success HRESULTs that aren't S_OK.  So it might return S_OK, but they may also return S_FALSE, or some other >0 HRESULT to include additional data about the result.

Generally in projections we'd like to map HRESULTs to exceptions or whatever the idiomatic error handling scheme is for a language.  Most (if not all) of these assume that there only one possible way

[2021-06-29 17:40] mikebattista commented on #489
We're not talking about anything undocumented here.

@sotteson1 what would you recommend here for the type? There are already two enums and we can change the winuser type to byte if that's correct, but it's not clear yet if that's right.

[2021-06-29 17:43] mikebattista commented on #559
What would you like to see in the metadata specifically? I understand the scenario but I'm not clear how you want to model this.

[2021-06-29 17:48] damyanp commented on #559
I was thinking of a per-function attribute that indicates that applications might want to inspect successful HRESULTs.

[2021-06-29 17:50] mikebattista commented on #559
So just a boolean? And not a list of all possible success HRESULTs?

[2021-06-29 17:56] damyanp commented on #559
It might be possible for projections to make use of all the HRESULTs, but in practice I suspect most will opt to just pass the HRESULT back to the caller somehow, so a boolean would be fine.  @kennykerr might have thoughts on this.

[2021-06-29 17:56] kennykerr commented on #559
Just an attribute on functions/methods that return HRESULT. The attribute doesn't need any values (not even bool). It just signals to the languages that the HRESULT has alternate status codes.

[2021-06-29 17:59] mikebattista commented on #559
Ok. We can add support for an attribute but will likely need to crowd source where to apply it.

[2021-06-29 17:59] kennykerr commented on #559
So for example:

[code]

[2021-06-29 17:59] kennykerr commented on #559
Yep I'm sure folks will be happy to help report/list APIs that need the attribute.

[2021-06-29 17:59] mikebattista commented on #559
Ok. We can add support for an attribute but will likely need to crowd source where to apply it.

[2021-06-29 18:01] kennykerr commented on #559
Great, thanks!

[2021-06-29 19:02] #558 closed

[2021-06-29 19:56] rylev opened #562 "WINHTTP_STATUS_CALLBACK's dwcontext param is incorrect"
The metadata for WINHTTP_STATUS_CALLBACK looks like the following:

[code]

However, it looks like `dwcontext` is being translated as a usize instead of as a pointer type:

[code]

[2021-06-29 23:22] mikebattista commented on #562
@keith-horton

[2021-06-30 16:28] AArnott commented on #559
For this particular requirement, I agree a mere attribute is enough. However if we can document which HRESULTs may be expected, then projections can automatically emit those HRESULTs as constants as well.
Same for Win32Error codes.

It bites if the user asks for one method, then has to explicitly ask individually for 8 other error codes to be generated as well where the projection could have antic

[2021-06-30 16:34] damyanp commented on #559
I was wondering if we should extend this concept to cover other error return mechanisms?  An extreme example would be WaitForSingleObject.  There are also various functions that use the "return bool, use GetLastError" pattern that would be nice to map to idomatic error handling.  Many IO functions follow this, but we expect developers to know that ERROR_IO_PENDING is not actually an error.

We cou

[2021-06-30 16:38] AArnott opened #563 "Scrape docs for constants"
The `WM_PAINT` constant [is documented](https://docs.microsoft.com/en-us/windows/win32/gdi/wm-paint) but does not appear to be included in the Win32Docs package.
Lets get this (and all other constants) included in the scraper (and verify that CsWin32 uses it).

The WM_PAINT constant is documented in a repo we don't scrape right now: https://github.com/MicrosoftDocs/win32/blob/docs/desktop-src/gdi/

[2021-06-30 17:04] mikebattista commented on #559
This is https://github.com/microsoft/win32metadata/issues/536.

[2021-06-30 17:10] timsneath commented on #563
Thanks for filing this, Andrew!

And of course, `WM_PAINT` is a bit of an outlier, since it's a constant that happens to have its own page dedicated to it. We should also be including constants like these: https://docs.microsoft.com/en-us/windows/win32/api/uxtheme/nf-uxtheme-getthemesyscolorbrush or these: https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setwindowpos

There ar

[2021-06-30 18:02] damyanp commented on #559
I think your understanding is correct.  From my POV I don't have a firm requirement for a one-attribute-to-rule-them-all vs individual attributes to handle the various cases.  I thinking about the potential issues with mutually exclusive attributes (eg you maybe you can't have AlternateSuccessCodes along with SetLastError).  However, maybe there's extra expressiveness to be had by allowing these a

[2021-06-30 18:22] mikebattista commented on #559
ReadFile already has `SetLastError = true` and returns false when GetLastError should be called. I view that as being able to infer the failure condition from the types and don't think another attribute is necessary for that piece.

ERROR_IO_PENDING is returned by GetLastError, not by ReadFile itself. Is this the same for the other I/O APIs you mentioned that behave like this? That seems a little

[2021-06-30 20:43] AArnott commented on #563
Yes, such constants that are documented on the page describing the API that uses them are automatically picked up by the scraper already and we even used this code to suggest enums around constants.

[2021-06-30 23:11] mikebattista commented on #561
What exactly do you want to see MapViewOfFile return instead of void *?

[2021-07-01 00:30] sharwell commented on #561
@mikebattista I would expect it to return `SafeMemoryMappedViewHandle`, which is the same return type used by P/Invoke definitions for `MapViewOfFile` inside the .NET Framework.

[2021-07-01 02:20] mikebattista commented on #561
That's how it would be projected, but I'm asking about the metadata.

[2021-07-01 16:12] sharwell commented on #561
@AArnott would need to answer that part. I'm not sure how the metadata relates to the CsWin32 project, and I'm only aware of the output from the latter.

[2021-07-01 16:59] mikebattista commented on #561
For example, CreateFile returns the below in the metadata which C#/Win32 translates into a .NET SafeHandle. Other projections handle it differently.

[code]

@aarnott sounded like you wanted something similar here but could you clarify what definition you expect?

[2021-07-02 01:18] jnm2 opened #564 "Why is FLASHWINFO in Windows.Win32.System.Diagnostics.Debug?"
`PInvoke.FlashWindowEx` is in `Windows.Win32`, but its [parameter](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-flashwindowex#parameters) `FLASHWINFO` is in `Windows.Win32.System.Diagnostics.Debug`.

I expected `FLASHWINFO` to be in the same namespace as `PInvoke.FlashWindowEx`.

It would be nice if the only using directive I needed for the sample below was `Windows.Win32`

[2021-07-02 01:18] jnm2 opened #569 "Why is FLASHWINFO in Windows.Win32.System.Diagnostics.Debug?"
(10.2.84-preview via CsWin32 0.1.506-beta)

`PInvoke.FlashWindowEx` is in `Windows.Win32`, but its [parameter](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-flashwindowex#parameters) `FLASHWINFO` is in `Windows.Win32.System.Diagnostics.Debug`. I expected `FLASHWINFO` to be in the same namespace as `PInvoke.FlashWindowEx`.

It would be nice if the only using directive I need

[2021-07-06 16:06] riverar opened #565 "IcmpCloseHandle and friends missing from Handle to IcmpHandle remapping"
`IcmpCreateFile` currently has its HANDLEs remapped to an IcmpHandle type.
https://github.com/microsoft/win32metadata/blob/58a4e118f2d658b97a52ac25d4dbc9e9ab223fdd/generation/emitter/remap.rsp#L206-L207

The following APIs were not updated, resulting in a mismatch of fundamental handle types:
* Icmp6ParseReplies
* Icmp6SendEcho2
* IcmpCloseHandle
* IcmpParseReplies
* IcmpSendEcho
* IcmpSendEcho2
*

[2021-07-06 16:31] kennykerr opened #566 "Nuget releases?"
The link to the nuget package seems to have disappeared from the readme. Is that still the preferred way to get the latest release?

[2021-07-06 17:01] #565 closed

[2021-07-06 17:02] riverar commented on #565
@mikebattista Well that fast 🔥, thanks!

[2021-07-06 17:04] riverar commented on #565
@mikebattista Is `IcmpHandle=IcmpHandle` right? Or should that be `HANDLE=IcmpHandle`?

[code]

[2021-07-06 17:10] mikebattista commented on #565
The first IcmpHandle is the name of the parameter whose type we're changing. The second IcmpHandle is the name of the type we want to use for that parameter.

You can see in the diff below from the build with these changes that the types changed from HANDLE to IcmpHandle.

Windows.Win32.NetworkManagement.IpHelper.Apis.IcmpCloseHandle : IcmpHandle...HANDLE => IcmpHandle
Windows.Win32.NetworkManagem

[2021-07-06 17:13] riverar commented on #565
@mikebattista Ah, got it, thanks again!

[2021-07-06 20:23] kennykerr commented on #559
To avoid losing the original request in the discussion, can we focus this issue on simply _adding an attribute for identifying methods and functions that return alternative success codes_? Other enhancements can be tracked as separate issues.

[2021-07-06 21:16] #566 closed

[2021-07-06 21:37] mikebattista commented on #564
@aarnott

FlashWindowEx and FLASHWINFO are both in the Debug namespace in the metadata.

With C#/Win32, methods need to be attached to a class, and exports are currently grouped up in the PInvoke class under the Windows.Win32 root namespace. Otherwise, each namespace would each need its own PInvoke static class which would result in conflicts or an explosion of additional using statements to work

[2021-07-07 15:22] AArnott commented on #564
I'll move to CsWin32 as the feedback is directed at a C# projection specific trait. But I second @mikebattista's comments, including the invitation for feedback on how we can find a better balance of namespaces.

[2021-07-07 16:08] marler8997 opened #567 "WriteConsole missing Optional attribute in lpReserved"
The `lpReserved` parameter in the WriteConsoleA/WriteConsoleW functions is a pointer that can be `NULL`.  According to my understanding, this means it should include the `Optional` attribute.

Issue originated from https://github.com/marlersoft/zigwin32/issues/2.

[2021-07-07 16:56] AArnott commented on #561
Apparently the value returned from this method is supposed to be released with `UnmapViewOfFile`, so returning a typedef with an `[RAIIReleaseAttribute("UnmapViewOfFile")]` may be appropriate. Doing this in the metadata would result in a SafeHandle being generated in the C# projection. We could then reuse .NET's existing SafeHandle type to improve interop.

[2021-07-07 17:09] mikebattista commented on #561
@sotteson1 @kennykerr

So something like this?

[code]

[2021-07-07 17:18] AArnott opened #568 "RegisterEventSourceW should return EventSourceHandle"
From the metadata:

[code]

The `RegisterEventSourceW` return type is *wrong* because the returned handle must be released by `DeregisterEventSource` per [this doc](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-registereventsourcew#remarks).

[2021-07-07 17:24] AArnott commented on #561
Yes, that looks good.

[2021-07-07 17:32] #568 closed

[2021-07-07 17:46] mikebattista commented on #567
@sotteson1 do all `LPVOID lpReserved` parameters need the `[Optional]` attribute regardless of what SAL annotations are in the headers?

[2021-07-07 22:01] marler8997 commented on #561
Somewhat related, the Zig projection would be able to make use of some way of knowing which types are "handles" and which aren't.

Reason being is that Zig distinguishes between handles that are "optional", allowing `NULL` or `0` to be assigned to them and disallowing this for non-optional handles.  My current solution is I maintain a list of all the types in the metadata that are handles (https:/

[2021-07-08 16:58] kennykerr commented on #561
Seems ok. https://github.com/microsoft/win32metadata/issues/423#issuecomment-860926678

[2021-07-09 22:00] AArnott commented on #561
FWIW CsWin32 figures out which structs are handle by convention, and a tiny hard-coded list of one: https://github.com/microsoft/CsWin32/blob/14443c08be185c26d91da5acac8c6acaccd37622/src/Microsoft.Windows.CsWin32/Generator.cs#L3114-L3132

[2021-07-12 02:13] manju-summoner opened #571 "IFELanguage.GetJMorphResult() return broken MORRSLT struct"
Calling `IFELanguage.GetJMorphResult()` returns a corrupted `MORRSLT` because the type of `MORRSLT.BLKBuff` is not specified correctly.
[Replacing the type of `MORRSLT.BLKBuff` with `void*` instead of `char`](https://github.com/manju-summoner/CsWin32GetJMorphResultTest/blob/2c07add462fef5b78b42db70b12608ea13018489/CsWin32GetJMorphResultTest/FixedCode/MORRSLT.cs#L37-L38) will return correct results

[2021-07-12 20:07] Plecra opened #572 "Incorrect definition for LRESULT"
https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/Foundation/struct.LRESULT.html

https://docs.microsoft.com/en-us/windows/win32/winprog/windows-data-types#LRESULT

The definition generated by windows-rs should be `struct LRESULT(pub isize);`

I encountered this issue when trying to [return an error from `WndProc`](https://docs.microsoft.com/en-us/windows/win32/winmsg/wm-creat

[2021-07-13 14:50] jnm2 commented on #569
So it doesn't get missed: `WIN32_ERROR` has the same issue. (https://github.com/microsoft/CsWin32/issues/329)

[2021-07-13 20:00] ben-lichtman-msft opened #574 "DDE Code Page constants are u32 but functions which take a code page take i32"
For example: DdeCreateStringHandleACopy takes i32 but CP_WINANSI is of type u32.

This results in having to convert types every time it is used

[2021-07-14 15:47] saschanaz opened #575 "GUID_TFCAT_TIPCAP_COMLESS is missing from Windows::Win32::UI::TextServices"
[The search result](https://microsoft.github.io/windows-docs-rs/doc/windows/fn.create_instance.html?search=GUID_TFCAT_TIPCAP) lacks `GUID_TFCAT_TIPCAP_COMLESS` but it exists both in the header and the docs (although [not directly](https://docs.microsoft.com/en-us/windows/win32/api/msctf/nf-msctf-itfthreadmgrex-activateex)).

[code]

Other items exist but only COMLESS one is missing.

[2021-07-14 16:18] saschanaz commented on #575
I also wonder where `GUID_TFCAT_TIPCAP_TSF3` is from, since it doesn't exist anywhere.

[2021-07-14 16:59] saschanaz commented on #575
Oh BTW it exists here:

https://github.com/microsoft/win32metadata/blob/efa1cf39def85074e53b3b5f6aaa1cdf8483cd31/generation/emitter/manual/TextServices.Manual.cs#L64

[2021-07-15 04:56] timsneath opened #576 "Incorrect tag parsing in dinputd.h"
These structs are being projected as `joyreguservalues_tag` and `joyreghwsettings_tag` rather than `JOYREGUSERVALUES` and `JOYREGHWSETTINGS` (in `Windows.Media.Multimedia`). A few other examples, but fixing this will likely fix all of them:

[code]

![image](https://user-images.githubusercontent.com/2319867/125731121-fcec5f4c-1f41-457b-9ec7-d6d893cc00f9.png)

[2021-07-15 05:22] timsneath opened #577 "AVI Interfaces IIDs missing"
The following IIDs are missing / not being scraped from `vfw.h`:

[code]

[2021-07-15 10:54] saschanaz commented on #577
I guess you want `IAVIFile::IID` instead.

[2021-07-15 22:53] damyanp opened #578 "DxcCreateInstance and DxcCreateInstance2 are missing"
These two APIs can be found in dxcapi.h.

Note that the typedefs from that header - DxcCreateInstanceProc and DxcCreateInstance2, do seem to appear in the metadata.  But the actual APIs themselves are missing.

[2021-07-16 18:03] damyanp commented on #439
@mikebattista / @kennykerr - I'm wondering about whether or not we should aim to make the D3D namespace dependencies by acyclic.  For the most part, this is the case, however there's at least one case where this isn't true - D3D11on12.h depends on D3D11 and D3D12 types.

I think this could come into play when language projections start thinking about providing pre-generated code and we try and fig

[2021-07-16 22:56] damyanp commented on #439
First pass proposals here: #579.

[2021-07-16 23:01] kennykerr commented on #439
Yep, that seems to make sense. Avoiding cycles is a worthy goal.

[2021-07-16 23:01] sotteson1 commented on #567
Instead of adding ````[Optional]```` I plan on adding a new ````[Reserved]````. IMO that better captures the original SAL.

[2021-07-16 23:21] damyanp opened #580 "How to handle D3D12 Agility SDK and DirectML redist"
The [DirectX 12 Agility SDK](https://devblogs.microsoft.com/directx/gettingstarted-dx12agility/) and [DirectML redist](https://github.com/microsoft/DirectML/blob/master/Releases.md) both ship their most recent versions of the APIs outside of the SDK.

The model they use is that there's a single, non-branching, versioning of these APIs.  But there's a period of time where the most recent version is

[2021-07-16 23:39] timsneath opened #581 "`USN_RECORD_UNION` should be with `USN_RECORD*`"
This valuetype is lonely and needs to be with its close friends :)

[code]

[2021-07-17 00:52] #567 closed

[2021-07-17 06:53] #578 closed

[2021-07-17 11:23] marler8997 commented on #567
So am I to understand that the metadata will not be using Optional to indicate whether or not pointers can be NULL?  Also, what exactly does "Reserved" mean?

[2021-07-17 17:32] #557 closed

[2021-07-17 17:38] sotteson1 commented on #523
Windows headers only has SAL annotations on parameters. As here are thousands of structs in the SDK, I don't want our project to have to add that information without getting it from the API owners.

[2021-07-17 17:38] #523 closed

[2021-07-17 19:22] sotteson1 commented on #525
I'm going to turn these into a NativeTypedef class named BOOLEAN like we did with BOOL. That way the data isn't lost that it's not just a byte but is meant to be a Win32 BOOLEAN (the byte version of BOOL which is an int).

[2021-07-17 19:28] #525 closed

[2021-07-17 20:20] sotteson1 commented on #501
According to the headers, both ZeroMemory and RtlZeroMemory map to memset. So, these aren't real Win32 APIs that we can include in the metadata.

[2021-07-17 20:20] #501 closed

[2021-07-17 20:21] sotteson1 commented on #66
We now have two samples in the code that show how to use the external scarper nuget package. It's up to external projects to use the scraper and publish their own .winmd files.

[2021-07-17 20:21] #66 closed

[2021-07-18 18:04] marler8997 commented on #523
Just FYI, this means that I'll be maintaining this information outside the metadata as a supplementary source of data because this information is necessary in order for the autogenerated bindings to be as accurate as hand-generated ones.  In my opinion, the purpose of the metadata is to make this information available to all projections so I don't agree with the decision to exclude it.

[2021-07-20 17:04] marler8997 opened #583 "INVALID_SOCKET not a SOCKET"
Rather than being defined as a `SOCKET`, it appears that `INVALID_SOCKET` is currently defined as a `UInt32`.  The sdk c/c++ headers define it as:

[code]

[2021-07-20 18:39] TyPR124 opened #584 "IcmpSendEcho2 FARPROC vs PIO_APC_ROUTINE"
This applies to both `IcmpSendEcho2` and `IcmpSendEcho2Ex` EDIT: And `Icmp6SendEcho2`:

[Docs](https://docs.microsoft.com/en-us/windows/win32/api/icmpapi/nf-icmpapi-icmpsendecho2) for these functions indicate that the third argument, ApcRoutine, should be of type `PIO_APC_ROUTINE` instead of `FARPROC` on any modern version of Windows:

Currently, this crate defines this argument as type `Option<FA

[2021-07-22 18:41] kennykerr opened #585 "`BCryptOpenAlgorithmProvider` loses handle type"
The resulting handle type should be `BCRYPT_ALG_HANDLE` but it ends up as `void*`.

The same appears to be the case for all the BCrypt handles and functions.

[2021-07-23 07:16] AraHaan opened #586 "When not targeting specific CPU archetecture the ExceptionPointers member of MINIDUMP_EXCEPTION_INFORMATION can be IntPtr (or nint)."
I use AnyCPU and I have it generate MiniDumpWriteDump and use the ``GetExceptionPointers()`` function on the runtime to get the exception pointers as an ``nint`` (IntPtr) and as such I wanted to avoid the cast entirely (I hate casts from 1 pointer type to another as it requires ``unsafe``).

I even tried doing:

[code]

But it resulted in it trying to generate that type anyway despite it being pre

[2021-07-23 13:12] AArnott commented on #586
I wonder how safe it really is to try to do this with one `struct` in an AnyCPU assembly, given (in the metadata at least), this attribute only appears on the struct in its 64-bit flavors:
[code]

Everything else about it is exactly the same.
Are you trying to avoid the metadata-generated declaration which defines the second field as `EXCEPTION_POINTERS*`?
The metadata will always be defined to us

[2021-07-23 13:32] AraHaan commented on #586
Yes I am trying to avoid the version that generates that member as ``EXCEPTION_POINTERS*``.

Also that type above is not marked as partial and yet it seems that the source generator might be ignoring it for some reason (or somehow not seeing it) and then it tries to generate it.

[2021-07-23 16:43] tim-weis opened #587 "Many string constants are not being scraped"
None of the BCrypt named constants (such as the [CNG Algorithm Identifiers](https://docs.microsoft.com/en-us/windows/win32/seccng/cng-algorithm-identifiers)) wind up in the generated metadata. The same is true for named constants in Wincrypt (e.g. [Constants for CryptEncodeObject and CryptDecodeObject](https://docs.microsoft.com/en-us/windows/win32/seccrypto/constants-for-cryptencodeobject-and-cry

[2021-07-23 17:57] sylveon opened #588 "GetMessage returns a bool when it should return an int"
## Actual behavior

Currently, `GetMessage` is defined to return a bool, which can be compared to true or false only. This incorrect according to [the documentation](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getmessage):

This means, that from C#, it's impossible to handle errors for this function.

Because of the bool return, it actually ends up being that *ignoring* e

[2021-07-23 18:00] AArnott commented on #588
This is an interesting one. The Windows headers and docs type the return value as `BOOL` but then explicitly document as returning at least 3 values (oddly considering "nonzero" to evidently not include -1, which if I may point out is *also* a nonzero value).

Anyway, I think we may need to special case this in the metadata. Should it be `int` instead? At least in CsWin32 we consider uses of `BOOL

[2021-07-23 19:52] jnm2 opened #612 "ReadOnlySpan<byte> friendly overload for WriteFile"
(0.1.506-beta)

https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-writefile#parameters has `void* lpBuffer, uint nNumberOfBytesToWrite`. Since the second parameter explicitly defines the previous parameter in terms of bytes, it seems like the friendly overload could replace both parameters with `ReadOnlySpan<byte> buffer`.

The benefit would be avoiding adding unsafe + fixed ar

[2021-07-23 23:35] kennykerr commented on #469
Any word on a fix for this? Ran into this again.

[2021-07-24 20:55] sotteson1 commented on #469
I think the scraper is correctly representing what's in objidl.h. I have no idea what the struct is trying to accomplish, but when I compile it with C++, I also only see the pUnkForRelease member.

[code]

[2021-07-24 21:13] KalleOlaviNiemitalo commented on #469
If `defined(NONAMELESSUNION) || !defined(_MSC_EXTENSIONS)`, then ntdef.h defines `DUMMYUNIONNAME` as `u`, and `userSTGMEDIUM` has the data members `u` and `pUnkForRelease`.

Otherwise, ntdef.h defines `DUMMYUNIONNAME` as nothing, and the only data member of `userSTGMEDIUM` is `pUnkForRelease`. The inner struct does not become the type of an [anonymous struct data member](https://docs.microsoft.com

[2021-07-24 22:00] sotteson1 commented on #469
You're right, it looks like a bug in objidl.idl. Right above it, the definition for uSTGMEDIUM makes sure the size is the same for both when NONAMELESSUNION is defined and when it isn't. I can either exclude this type or make sure NONAMELESSUNION is set when scraping this type.

[2021-07-27 05:42] riverar commented on #538
Any updates on this? Emission of IWindowNative in C#/WinRT is not helpful. Why is this such a weird wart? Politics?

[2021-07-27 16:53] kennykerr commented on #538
It does seem awkward that the Win32 metadata includes `IInitializeWithWindow` but not `IWindowNative`. They're two sides of the same coin.

[2021-07-27 17:46] sotteson1 commented on #538
Sorry we haven't made progress on this. It's not a problem of politics--we definitely want to have this available to projections. The problem is that this API isn't part of the Windows SDK which is what win32metadata scrapes into the main .winmd. We are working to have the Windows App SDK scrape its headers and provide additional .winmd files in its packages, but we aren't there yet. We're working

[2021-07-27 19:32] smasher164 opened #589 "mention that `PWSTR` and `PSTR` are strings"
`PWSTR` and `PSTR` are `uint16_t*`. Is it possible to extend the metadata with info that they are string-like?

@tdakkota notes in https://github.com/golang/go/issues/43838#issuecomment-887272645 that setting a `TypeAttribute` of `AnsiClass`/`UnicodeClass` or giving it `ELEMENT_TYPE_STRING` are possibilities.

Currently, [`windows-rs`](https://github.com/microsoft/windows-rs/blob/61ed91e31ce7c181d

[2021-07-27 20:53] jnm2 opened #590 "TASKDIALOGCONFIG members are missing enum types"
https://docs.microsoft.com/en-us/windows/win32/api/commctrl/ns-commctrl-taskdialogconfig#members:

- `dwFlags` is `int` but should be `TASKDIALOG_FLAGS`
- `dwCommonButtons` is `int` but should be `TASKDIALOG_COMMON_BUTTON_FLAGS`

(using 10.2.84-preview)

[2021-07-27 21:25] riverar opened #591 "WinmdGenerator: The "ScanLibs" task failed unexpectedly"
1. dotnet build /bl
2. (open msbuild.binlog)

[code]

That version of System.Runtime doesn't exist on nuget and the `dotnet build` entrypoint isn't manifested to redirect that assembly.

[2021-07-27 23:02] jnm2 opened #592 "ImageList_Create has a flags parameter that should be an enum"
https://docs.microsoft.com/en-us/windows/win32/api/commctrl/nf-commctrl-imagelist_create#parameters
https://docs.microsoft.com/en-us/windows/win32/controls/ilc-constants

[2021-07-28 03:02] riverar commented on #591
@wravery Hey Bill, noticed you recently checked in a webview2 generator sample. Any tips on running it? Is there an invocation incantation I'm missing?

[2021-07-28 05:15] wravery commented on #591
IIRC, after building the rest of the win32metadata project with `DoAll.ps1`, I had to add a property to the command line build in the WebView2 sample directory pointing it at the binaries I just built instead of the NuGet for the SDK. The latest public NuGet at that time did not have support for the attribute I was adding.

[2021-07-28 05:16] wravery commented on #591
I think it was the `Win32WinmdBinDir` property I needed to set.

[2021-07-28 05:17] riverar commented on #591
@wravery Thanks a bunch, will explore that.

[2021-07-29 08:38] stefan-agl opened #619 "Generated method signature may not be completely correct for cfapi->CfConnectSyncRoot"
## Actual behavior

The definition of method CfConnectSyncRoot in cfapi.h is as follows:

[code]

generated C# method signature is respectively

[code]

where

`_In_ CONST CF_CALLBACK_REGISTRATION *CallbackTable`

translates to

`in win32.Storage.CloudFilters.CF_CALLBACK_REGISTRATION CallbackTable`

This parameter as the name suggests is used to pass in a table of typed callbacks to handle certain

[2021-07-29 15:39] kennykerr opened #593 "UIA_HWND should be mapped to HWND"
The UIAutomation API has its own typedef for HWND:

[code]

This should be replaced with `Windows.Win32.UI.WindowsAndMessaging.HWND` in metadata because it is really just an `HWND` that would be returned by functions like `FindWindowA` or `CreateWindowExA`.

[2021-07-29 16:15] kennykerr commented on #593
Oh, and the UI Automation APIs end up dropping the `UIA_HWND` and decaying to `void*`.

[code]

The original definition is:

[code]

Again, this should be using the common `Windows.Win32.UI.WindowsAndMessaging.HWND` type.

[2021-07-29 18:21] Lalaland opened #594 "OBJID_WINDOW not available?"
OBJID_WINDOW and the other object identifiers don't seem to be available?

[2021-07-29 18:58] marler8997 commented on #588
As I understand, in the metadata the return value of `GetMessage*` is defined as `BOOL` (not `bool`), which itself is defined as a 32-bit signed integer.  Is CsWin32 translating `BOOL` to a .NET `bool` instead?

[2021-07-29 19:02] sylveon commented on #588
Yes, cswin32 is writing out the pinvoke with a .NET bool as return value.

[2021-07-29 22:24] riverar commented on #66
@sotteson1 None of them seem to work. Do you have a sample that demonstrates usage outside the source tree?

[2021-07-29 22:26] riverar commented on #591
@sotteson1 Do you have a sample that demonstrates usage of this nuget outside the source tree?

[2021-07-29 23:51] sotteson1 commented on #66
I updated win32metadata\sources\msbuild\GeneratorSample\GeneratorSample.proj to use the right version of what's in nuget.org. To build it, I did "dotnet build" from that directory and it worked. Let me know if it doesn't for you. There might be something in your configuration that is needed to build that I don't know about.

[2021-07-30 00:00] sotteson1 commented on #591
I tried copying the files out of win32metadata\sources\msbuild\GeneratorSample into a directory outside the tree, then tried "dotnet build" and it worked. If that still fails for you, maybe you can build with verbose logging to give us more information about what's failing.

[2021-07-30 00:09] riverar commented on #591
@sotteson1 Hmmm. Where is `$(PkgMicrosoft_ProjectReunion_DWrite)` defined? It's blank for me, so the build actually takes a very long time to fail because it's scanning my entire disk. Seems to indicate there are some implicit dependencies in play here.

Here's my repro repo:

1. `git clone https://github.com/riverar/repro-14f58e99d1ed`
2. `cd repro-14f58e99d1ed`
3. `dotnet build`

[code]

The msb

[2021-07-30 00:13] riverar commented on #591
@sotteson1 Oops, I think I cut too much from my repro. One moment.

[2021-07-30 00:15] sotteson1 commented on #591
PkgMicrosoft_ProjectReunion_DWrite should get set by the Microsoft.ProjectReunion.DWrite package brought in by: <PackageReference Include="Microsoft.ProjectReunion.DWrite" Version="0.5.6" GeneratePathProperty="true"/>

[2021-07-30 01:28] riverar commented on #591
Dragged the folder to a fresh VM, installed latest .NET 5.0 SDK bits, issued a `dotnet build /bl` and:

[code]

Binlog attached.
[msbuild_binlog.zip](https://github.com/microsoft/win32metadata/files/6904515/msbuild_binlog.zip)

I'll pull out the debugger tonight and take a closer look. It seems to behave differently across multiple machines, which I'm sure is frustrating for both of us.

[2021-07-30 02:57] sotteson1 commented on #591
Thanks for checking it out with a debugger. Even getting a stack trace would be terrific.

[2021-07-31 19:00] gix opened #596 "enum PROCESSOR_ARCHITECTURE has wrong size, breaks MINIDUMP_SYSTEM_INFO"
`PROCESSOR_ARCHITECTURE` is declared as `enum PROCESSOR_ARCHITECTURE : uint`, even though he native constants fit into 16 bits.

This breaks `MINIDUMP_SYSTEM_INFO` because it uses the enum as the type for the `ProcessorArchitecture` field (which is only 16 bits large):
[code]

[2021-08-01 03:21] riverar commented on #591
Spent a bit of time with this and have concluded this issue is invalid. 😂 Was able to create a custom project, will PR some minor things in a moment.

[2021-08-01 03:21] #591 closed

[2021-08-02 01:55] Craftplacer opened #614 "PrivateExtractIcons method incorrectly claims piconid parameter is an array"
## Actual behavior

`PrivateExtractIcons` is failing because `nIcons` is set to zero, the only way to set it to a valid value is to use the "unmanaged" method overload (that uses unsafe pointers). I don't know why `nIcons` isn't part of the managed function signature.

![image](https://user-images.githubusercontent.com/22963120/127793752-55b75450-f378-4abc-92fb-66631454c92f.png)

In this screensho

[2021-08-02 13:17] kiron1 opened #603 "How to use HRESULT with functions returning i32"
For example the function [`InitializeSecurityContextW`](https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/Security/Authentication/Identity/Core/fn.InitializeSecurityContextW.html) returns an `i32` where the return status code should be tested for [`SEC_E_OK`](https://docs.microsoft.com/en-us/windows/win32/api/sspi/nf-sspi-initializesecuritycontextw) which is of type [`HRESULT`

[2021-08-02 15:07] Guiguiprim opened #598 "Missing metadata for NERR_*"
`NetUserEnum` is documented as being able to return `NERR_Success`, `NERR_BufTooSmall` and `NERR_InvalidComputer`.
But they have no definition within win32 metadata.

`NetUserEnum` return is not typed, where it could be if those values where inside `WIN32_ERROR`

[2021-08-02 21:33] galenb-msft opened #599 "HKEY and PartialEq"
I have a function that uses match to convert an HKEY root/hive into a string:

match hive {
	HKEY_CURRENT_USER => "HKCU:".to_string(),
	HKEY_LOCAL_MACHINE => "HKLM:".to_string(),
	_ => "UNKNOWN:".to_string(),
}

Rust analyzer complains, and compilation fails with "unreachable pattern" errors:

to use a constant of type `HKEY` in a pattern, `HKEY` must be annotated with `#[derive(PartialEq, Eq)]`ru

[2021-08-03 09:34] weltkante commented on #589
That probably can't be avoided. Nothing against annotating `PWSTR` and `PSTR` but there are other string-like types (probably mostly in the APIs involving COM) which require usage of specific allocators and string manipulation functions, so projections always have to special case these. Need to chose the semantic of being a "string-like type" very carefully for it to have any value, otherwise it p

[2021-08-03 16:31] weltkante commented on #588
This has been discussed before (#308 and #301) and I'm surprised it hasn't been acted upon.

[2021-08-03 17:35] marler8997 commented on #588
It looks like @AArnott said he would find a way to preserve the full 32-bit signed `BOOL` value and allow it to be implicitly convertible to a `bool` (https://github.com/microsoft/win32metadata/issues/308#issuecomment-809617822).  I don't know how that's possible in C#?

[2021-08-03 18:03] riverar opened #600 "IDCompositionVisual2::SetOffsetX methods are flipped in SDK + metadata"
Related: https://github.com/microsoft/windows-rs/issues/1017
SDKs tested: 19041, 22000
Header: dcomp.h

From header:
[code]

Actual (debugger, OS 19043.1110):
[code]

[2021-08-03 18:09] smasher164 commented on #589
Right. This doesn't need to be a single piece of metadata. I think it would be useful to know information about the expected string, like whether it's null-terminated, its encoding, etc...

[2021-08-03 21:23] marler8997 commented on #589
Since I think these are the only 2 types the metadata uses to represent strings (i.e. pointers to null-terminated arrays), I don't see a benefit to creating new attribute for this.  Unless there are more types that would use these new attributes?  Otherwise, checking for the specially named types `PSTR` and `PWSTR` wouldn't be much different than checking for a new "string-like" attribute.

[2021-08-04 20:38] riverar commented on #600
Adding binding authors for awareness @AArnott @kennykerr @timsneath @rumbu13 @marler8997

[2021-08-04 22:18] rveldhoven opened #601 "Incorrect IMAGE_FILE_HEADER structure generated for rust."
Hi,

I initially opened this issue in windows-rs. But I think it's more likely that this is an upstream issue related to this project.

I'm trying to access the PE header of an image in my rust program.

The IMAGE_FILE_HEADER structure in my bindings is incorrectly generated.

The IMAGE_FILE_HEADER structure is defined in the SDK as:
[code]
However, my bindings have generated a DWORD sized ```Char

[2021-08-04 22:21] sotteson1 commented on #601
It looks like when the work was done to make the enum, it was based on a u32 because most of the structs using it are u32. But for this particular struct, it's u16. I think we will need to use a different enum for this one, or just not use an enum for this field.

[2021-08-05 00:54] riverar commented on #601
I'm not seeing any reason to keep `IMAGE_FILE_CHARACTERISTICS` as uint32. Would just change that back to uint16. Where are you seeing uint32 usage?

[2021-08-05 09:45] rveldhoven commented on #601
@riverar It happens when I try to use code generated by https://github.com/microsoft/windows-rs in my rust program. I originally filed this issue there. But looking through similar old issues it's more likely in this project. I don't know much about how either project works, so maybe this issue is in the wrong place?

For example, the following rust code:
[code]
Will copy 4 bytes into the Optional

[2021-08-05 14:01] riverar commented on #601
Sorry, my question was for the metadata itself / @sotteson1

[2021-08-05 16:29] sotteson1 commented on #601
LOADED_IMAGE.Characteristics is using the same enum, and that field is u32.

[2021-08-05 16:31] sotteson1 commented on #601
I agree with that. It does look like it's using the wrong size. I'll fix both of these today.

[2021-08-05 16:33] sotteson1 commented on #601
I just noticed that IMAGE_SUBSYSTEM and IMAGE_DLL_CHARACTERISTICS are wrong too. :( We need to be careful when these enums are made to use a type of the same size as the original field.

[2021-08-05 16:45] riverar commented on #601
Ah dang. Frustrating!

[2021-08-05 16:47] sotteson1 commented on #601
I am going to make the build fail when we override a field with an enum that is bigger than the original field. I wouldn't be surprised if this flushes out more errors lurking in the metadata.

[2021-08-05 16:48] riverar commented on #601
Was just going to say, #596 looks related as well.

[2021-08-05 19:59] mikebattista commented on #580
@sotteson1 sounds like another scenario for enabling other SDKs to produce their own winmd for consumption from our projections (#66 ). Could we try to onboard these to the msbuild tooling?

[2021-08-06 02:26] phizch opened #615 "Incorrect size of multiple generated Enums when generating IMAGE_NT_HEADERS64"
## Actual behavior
In the namespace `Windows.Win32.System.Diagnostics.Debug`, the following Enums are generated with base type `uint` instead of `ushort`:
* `IMAGE_FILE_CHARACTERISTICS`
* `IMAGE_OPTIONAL_HEADER_MAGIC`
* `IMAGE_SUBSYSTEM`
* `IMAGE_DLL_CHARACTERISTICS`

These are fields of `IMAGE_FILE_HEADER` and `IMAGE_OPTIONAL_HEADER64`, and thus the structs becomes misaligned.

## Expected behavi

[2021-08-06 15:06] mikebattista commented on #599
@kennykerr could you take a look at this?

[2021-08-06 15:12] mikebattista commented on #588
@AArnott ?

[2021-08-06 15:24] mikebattista commented on #575
@sotteson1 any idea why this 1 GUID isn't making it into the metadata while the others that are defined in the same way are?

[2021-08-06 15:34] mikebattista commented on #571
@aarnott this field is typed as char in the metadata. Is this a C#/Win32 issue?

From the shared code snippet, it looks like you explicitly remap it to void*.

[2021-08-06 15:53] KalleOlaviNiemitalo commented on #571
In \<msime.h\>, it is a flexible array member `WCHAR       BLKBuff[];` so the `void*` replacement isn't right either. GetJMorphResult allocates this structure and does not tell the caller how large it actually is. I don't understand what goes wrong in the generated code, though.

[2021-08-06 16:15] kennykerr commented on #599
This is a duplicate of https://github.com/microsoft/windows-rs/issues/656 - will transfer to the windows-rs repo for tracking.

[2021-08-06 16:24] kennykerr commented on #600
Technically, this is a bug in the original `IDCompositionVisual` definition itself. COM interface vtable ordering is not stable in the face of method overloading and is not guaranteed to work reliably. WinRT interface interfaces overcome this by giving the overloaded methods unique ABI names, but this is not a WinRT interface.

If the C++ compiler ends up sorting them differently in practice (e.g.

[2021-08-06 16:38] mikebattista opened #602 "Windows::Win32::System::SystemServices::LABEL_SECURITY_INFORMATION isn't a Windows::Win32::System::Services::OBJECT_SECURITY_INFORMATION"
### Discussed in https://github.com/microsoft/win32metadata/discussions/595

<div type='discussions-op-text'>

<sup>Originally posted by **galenb-msft** July 26, 2021</sup>
I am using GetNamedSecurityInfoA() to request security info from a file and I need the LABEL_SECURITY_INFORMATION, but since it is not a member of Windows::Win32::System::Services::OBJECT_SECURITY_INFORMATION it cannot be "or'd

[2021-08-06 16:46] KalleOlaviNiemitalo commented on #600
If you include \<dcomp.h> in C (or in C++ while defining `CINTERFACE`), then each `STDMETHOD` becomes a data member, so their ordering will surely match what the IDL compiler generated. I suppose the interface is then broken in this kind of use, too.

[2021-08-06 17:19] jeffstall commented on #600
For better of for worse, the C++ compiler puts overloaded interface members in reverse declaration order in the vtable. So SetOffsetX(IDCompositionAnimation *) will be before SetOffsetX(float). Any Win32 metadata compiler will need to do the same thing. (Even if teams did this unintentionally, they still can't change the definition as it would be a breaking change.)

@mikebattista , can you please

[2021-08-06 17:22] mikebattista commented on #600
Thanks. Assigning to Steve to work around this in the metadata.

[2021-08-06 17:54] KalleOlaviNiemitalo commented on #603
`SEC_E_INSUFFICIENT_MEMORY` is defined as `((SECURITY_STATUS)0x1300)` in \<IssPer16.h\> but `_HRESULT_TYPEDEF_(0x80090300L)` in \<winerror.h\>. Other SEC_… macros likewise have different values between these two files. \<IssPer16.h\>, which is included from \<security.h\> if `ISSP_LEVEL == 16`, but `ISSP_LEVEL` is defined only in \<sspi.h\>, where the value is always 32. I guess \<IssPer16.h\> is

[2021-08-10 10:39] ghost opened #604 "Question : why does COM/WinRT exist now ?"
pasting https://github.com/microsoft/WindowsAppSDK/issues/1153#issuecomment-895820435

_**why does COM/WinRT and c#/winrt, c++/winnrt even exist ?**_
 **_Is it an longterm ongoing attempt to discard/trash the whole idea/mechanism of COM/WinRT and their corresponding APIs ?_**

or I don't have any clue what I'm saying ? (therefore probably someone can correct the understanding ?)

[2021-08-10 22:48] mikebattista commented on #604
Well COM existed long before WinRT or Win32 Metadata. It doesn't really make sense to go back and reimplement thousands and thousands of existing APIs when we can make them available to more languages via metadata. And this project uses many of the innovations and design principles that were established first with WinRT.

WinRT APIs are basically metadata-first APIs that are authored in metadata w

[2021-08-10 22:48] #604 closed

[2021-08-11 06:08] ImJustAGhost commented on #604
thanks. Just a little one

Is it impossible for api authors if they wanted to  author net new innovative c++ APIs completely in win32metadata going forward in the future instead of WinRT ?

  (and thus only maintaining one api surface instead of two)

[2021-08-11 15:54] mikebattista commented on #604
We've been working on enabling others to produce winmds from C APIs like we did which could then be consumed by Win32 projections. You'd still be authoring in C/C++ in that case and then integrating tooling that would convert it to a winmd. There are pros and cons to different approaches and you should use the right tool for the job when authoring new APIs.

[2021-08-11 16:30] riverar opened #605 "WinmdGenerator expects all import libs to be in a subfolder named `\x64\`"
Guessing this check is here for a reason, so opening an issue before I attempt a PR. I've worked around this limitation for now, so it's not blocking me.

https://github.com/microsoft/win32metadata/blob/19d594c3ce8077fcecded074d5d4db5205ad0bb7/sources/msbuild/MetadataTasks/ScanLibs.cs#L50-L52

[2021-08-11 18:38] #581 closed

[2021-08-11 19:10] #592 closed

[2021-08-11 19:20] mikebattista commented on #593
So all occurrences of UIA_HWND in UIAutomationClient.h should be remapped to HWND?

[2021-08-11 19:43] kennykerr commented on #593
Yep.

[2021-08-11 20:14] #593 closed

[2021-08-11 20:15] mikebattista commented on #593
Ok. I think I covered all occurrences in the metadata.

[2021-08-11 20:50] mikebattista commented on #602
Give it a try again when the Rust crate takes updated metadata and let me know how it goes.

[2021-08-11 20:53] mikebattista commented on #589
@sotteson1 @kennykerr what are your thoughts on this? If WinRT is using ELEMENT_TYPE_STRING, should we be using it here?

[2021-08-11 20:56] kennykerr commented on #589
That is already used by WinRT to represent HSTRING so that would be incompatible with language projections that support both WinRT and Win32. What we have now is a reasonable compromise to support both.

[2021-08-11 21:01] mikebattista commented on #589
BSTR is one such example, right?

Ok. Is this a Won't Fix? Or is there anything we can/should do here?

[2021-08-11 21:17] kennykerr commented on #589
We already have types for PSTR, PWSTR, BSTR, and so on. I don't there's anything to do here. Language projections must deal with these "well-known" types.

[2021-08-11 21:33] #589 closed

[2021-08-11 21:59] #584 closed

[2021-08-11 22:00] mikebattista commented on #584
Please file a separate issue for arch-specific definitions here. I changed FARPROC to PIO_APC_ROUTINE for this issue.

[2021-08-11 22:34] ryancerium opened #606 "DwmGet/SetWindowAttribute dwattribute Parameter type"
For the `DwmGetWindowAttribute` and `DwmSetWindowAttribute` functions, the `dwAttribute` parameter should be of the `DWMWINDOWATTRIBUTE` enumeration type.  Right now it's a uint32 for both of those functions according to marlersoft's json data.

[2021-08-12 08:01] ImJustAGhost commented on #604
understood the reasoning behind all this and also corrected the understanding.    thanks.

[2021-08-12 20:23] mikebattista commented on #598
Do you think NERR_ values should be made part of the WIN32_ERROR enum? Either we do that and return WIN32_ERROR from NetUserEnum, or we add/keep them as constants and continue to return uint.

[2021-08-13 11:31] dotSlashLu opened #608 "Can't find error type definitions in Win32 API"
Hi, when I run the below program I got a return value of 111, problem is how can I know what does it mean?

[code]

I checked the [Windows API documentation](https://docs.microsoft.com/zh-cn/windows/win32/api/iphlpapi/nf-iphlpapi-getnetworkparams?redirectedfrom=MSDN), it seems this function will return values like `ERROR_BUFFER_OVERFLOW`, but I can't find any reference about these constants in the

[2021-08-13 16:46] dotSlashLu commented on #608
Thanks for putting this in the right place.

Also, may I ask why I'm getting this error? Though I suspect it's caused by the wrong `bufsize`, but I don't have any clue. As the doc reads, the parameter is just the size of `FIXED_INFO_W2KSP1`. Is it because the memory layout difference from rust to C++? Thanks.

[2021-08-13 16:57] kennykerr commented on #608
The memory layout should be identical between Rust and C++. I don't know this particular API but you can find an example here that might help:

https://docs.microsoft.com/en-us/windows/win32/api/iptypes/ns-iptypes-fixed_info_w2ksp1

[2021-08-13 17:22] #598 closed

[2021-08-13 17:22] mikebattista commented on #598
I kept these as constants for now.

[2021-08-13 17:36] #608 closed

[2021-08-13 18:13] riverar commented on #608
Well that was fast. 🤠 Thanks again @mikebattista.

[2021-08-13 20:02] #585 closed

[2021-08-13 20:05] StephenCleary opened #609 "Constants in processthreadsapi.h missing"
Looks like `PROC_THREAD_ATTRIBUTE_GROUP_AFFINITY` and `PROC_THREAD_ATTRIBUTE_PSEUDOCONSOLE` are missing, at least.

This issue could possibly be fixed by #563, with the wrinkle that `PROC_THREAD_ATTRIBUTE_PSEUDOCONSOLE` is not currently documented.

[2021-08-14 08:05] skystedt opened #610 "Missing Privilege constants"
The Privilege constants seems to be missing, for example: `SE_DEBUG_NAME`

_NativeMethods.txt: warning PInvoke001: Method or type "SE_DEBUG_NAME" not found._

https://docs.microsoft.com/en-us/windows/win32/secauthz/privilege-constants#constants

[2021-08-16 20:41] #574 closed

[2021-08-16 21:49] #576 closed

[2021-08-16 21:59] #583 closed

[2021-08-17 11:45] AArnott opened #611 "LoadImage's returned HANDLE must be released in ONE of THREE ways"
`LoadImageW`/`LoadImageA` in the metadata currently return a `HANDLE` type, which would be closed with `CloseHandle`.
However [the docs](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-loadimagea#return-value) state that one of `DeleteObject`, `DeleteCursor` or `DeleteIcon` should be used to release the handle, and only if the `LR_SHARED` flag was not passed in. The metadata

[2021-08-17 15:07] marler8997 commented on #611
Create a "LoadImageHandle" type with an attribute like "FreeFuncCandidates"?

[2021-08-17 18:31] AArnott commented on #588
I have already made BOOL provide access to the underlying `Int32` and is implicitly convertible to and from C# `bool`. See this definition:

[code]

The remaining problem seems to be that although the metadata declares `GetMessageW` as returning `BOOL`, CsWin32's projection still declares it as returning `bool`. I'll move the issue to CsWin32.

[2021-08-17 19:41] AArnott commented on #571
@mikebattista the OP's point is that `char` is wrong. So if that's what's in the metadata, then the metadata is wrong. See this from the OP:

[code]

Looking more at [the header definition](https://dev.azure.com/microsoft/OS/_git/os.2020?path=%2Fonecoreuap%2Fsdktools%2Fcommontest%2FImeAuto%2FNativeService%2Finc%2Fmsime.h&version=GBofficial%2Fmain&line=245&lineEnd=253&lineStartColumn=1&lineEndColum

[2021-08-17 19:55] mikebattista commented on #571
Ok. Thanks. @sotteson1 can you take a look?

[2021-08-17 21:38] mikebattista commented on #512
Closing out this old issue. Please file new issues for any additional changes.

[2021-08-17 21:38] #512 closed

[2021-08-18 16:43] AArnott commented on #612
The request for the metadata repo is to change the `void*` parameter to be `byte*` instead.

[2021-08-18 16:59] AArnott opened #613 "Make more structs AnyCPU-compatible by assuming Pack=4 for x86"
We've had some pushback since CsWin32 started omitting APIs from C# AnyCPU projects that the metadata said were arch-specific. In some cases this is absolutely required and I stand behind the ability to do this. But wherever it's possible for the metadata the declare a struct fewer times so that one declaration is compatible with more architectures (and ideally, compatible with *any* architecture)

[2021-08-18 18:05] marler8997 commented on #613
Inferring that Pack=4 on x86 when there is no explicit packing sounds reasonable to me.

That being said, it seems odd to me that if the metadata adds support for more architectures, it could mean that CsWin32 could suddenly lose more types for AnyCpu projects.  It feels weird that coverage of CsWin32 depends on the metadata having "less coverage" of various architectures.

One way CsWin32 could m

[2021-08-18 19:02] AArnott commented on #613
@marler8997 I like that idea. I'm tracking it with a new CsWin32 repo issue.

[2021-08-18 20:25] ArturKovacs commented on #559
What's the status of this? It's nothing urgent, just wanted to express that I'm affected by this.

[2021-08-18 20:52] mikebattista commented on #559
I think the conclusion of this issue is to introduce an `[AlternateSuccessCodes]` attribute with no other values, and rely on community contributions to apply it. Other potential issues discussed here should be split out into separate issues for consideration.

I will add the attribute and make sure [CONTRIBUTING.md](https://github.com/microsoft/win32metadata/blob/master/CONTRIBUTING.md) is update

[2021-08-18 21:24] #577 closed

[2021-08-19 01:23] riverar opened #616 "STILL_ACTIVE not reflected in metadata"
Not sure how you want to proceed with this one. `GetExitCodeProcess` [is documented as possibly returning `STILL_ACTIVE`](https://docs.microsoft.com/en-gb/windows/win32/api/processthreadsapi/nf-processthreadsapi-getexitcodeprocess?redirectedfrom=MSDN&WT.mc_id=WD-MVP-5002756#remarks), which is now a macro for `STATUS_PENDING` (minwinbase.h).

Should the metadata add these _constants_ to align with

[2021-08-19 01:41] riverar commented on #611
This seems to be a problem specific to C# bindings and its use of SafeHandle. I don't think everyone else should shoulder the burden of a new type here.

Perhaps on the bindings side, functions with HANDLE return types should be generated with a non-SafeHandle overload?

[2021-08-19 02:39] AArnott commented on #611
How is this C#-specific? Any projection that wants to help the user clean up resources (I think Rust is among these) will need to know how to do so. SafeHandle is just how .NET encapsulates this functionality.

[2021-08-19 03:37] kennykerr commented on #611
Rust doesn't make use of `RAIIFree` at all. It would have to be absolutely perfect in terms of coverage and attribution for developers to feel confident in its use and even then its not necessarily applicable to all languages. But its an attribute, so it can be easily ignored. I would rather not introduce even more pseudo handle types as it muddies up the projection for languages that don't care a

[2021-08-19 03:38] riverar commented on #611
My concern was regarding the suggestion to mutate the API signature to accommodate SafeHandle. You are right, the overall request is not C# specific, apologies for any confusion introduced.

We need to consider projections that may not want to do anything here.

I'm not pushing back on the idea of _annotating_ these APIs though. That will be great for bindings that wish to exert more control over

[2021-08-19 16:47] kennykerr commented on #616
Probably a doc update would be simpler (less code baggage)? What does @stevewhims think?

[2021-08-19 17:05] kennykerr commented on #559
Thanks @mikebattista, did you add this attribute to any existing functions that folks can use as an example to follow?

[2021-08-19 17:07] kennykerr commented on #601
Any progress on this? We're getting more Rust developers bumping into this issue.

[2021-08-19 17:55] mikebattista commented on #559
I added it to DoDragDrop and updated CONTRIBUTING.md with the details.

[2021-08-19 20:32] kennykerr commented on #559
Super! Any chance we can have another build with this change for me to test with Rust? I see we haven't had a build in almost two months...

[2021-08-19 20:42] mikebattista commented on #559
@sotteson1 can you publish a new NuGet package please?

[2021-08-19 23:11] sotteson1 commented on #559
Done.

[2021-08-20 19:01] mikebattista commented on #562
@keith-horton what are your thoughts on this?

[2021-08-20 21:37] sotteson1 commented on #601
Sorry I haven't finished this yet. I just wrote the code to detect the problem and there's about 15 cases that need to get fixed.

[2021-08-22 22:25] sotteson1 commented on #615
Unfortunately this is the best way to solve this problem, IMO. It's important that enums match the exact size they're replacing in both structs and parameters. Adding another attribute would be easy to miss for language projection authors, and I don't want to risk them having the wrong size for the binary interface.

[2021-08-22 22:35] KalleOlaviNiemitalo commented on #615
If you defined the enum twice and linked the definitions to each other with attributes, would any projections be able to provide implicit conversions? I expect that C# and C++ would not.

[2021-08-22 23:34] sotteson1 commented on #615
The defines will have slightly different names and slightly different value names. @kennykerr has asked that all enum value names be unique, so the only way to get the same values to be both 16 and 32 bits are to make the names slightly different.

[2021-08-22 23:35] #601 closed

[2021-08-22 23:35] #615 closed

[2021-08-23 18:30] #590 closed

[2021-08-23 18:44] mikebattista commented on #594
I think we should have an OBJECT_IDENTIFIERS enum that has everything from https://docs.microsoft.com/en-us/windows/win32/winauto/object-identifiers.

Then we should apply that enum wherever a function expects any of those (e.g. GetScrollBarInfo or GetMenuBarInfo). Since we need unique enum member names, I'd rather not try to create separate enums for each use case that only contains the subset of

[2021-08-23 19:06] #606 closed

[2021-08-23 19:15] mikebattista commented on #179
Closing this out. Please file a new issue for DibColors with more details on where that comes from and where it should be applied.

[2021-08-23 19:15] #179 closed

[2021-08-23 19:30] mikebattista commented on #587
Thanks for filing. We'll add these and other string constants that are missing.

[2021-08-23 19:36] sotteson1 commented on #596
Fixed with https://github.com/microsoft/win32metadata/commit/63b00686f47a32f8498223607604099bfb85dfc0.

[2021-08-23 19:36] #596 closed

[2021-08-23 20:13] #572 closed

[2021-08-23 20:25] riverar commented on #600
@sotteson1 Yep. And SetTransform, SetClip, etc.

[2021-08-23 20:28] kennykerr commented on #600
What about overloads in a hierarchy? IThing3 overloads a method in IThing2?

What about three or more overloads? Is it strictly in-place reverse order?

[2021-08-23 20:30] sotteson1 commented on #600
And another question like @kennykerr is asking: what if I have something like this:

[code]
What would that look like in the vtable?

[2021-08-23 20:35] jeffstall commented on #600
At the end of the day, I'd recommend writing a bunch of conformance tests with the VC++ compiler.

[2021-08-23 21:22] #537 closed

[2021-08-23 23:11] #515 closed

[2021-08-23 23:23] #575 closed

[2021-08-23 23:46] sotteson1 commented on #563
All the constants mentioned on this issue are in the metadata, so I'm closing this issue. If there are more we missed, please add issues for them.

[2021-08-23 23:53] sotteson1 commented on #266
This was changed a while ago to set the length of the array to be 0. I went with what @tannergooding suggested, that we set the array length to 0 which implies it's a variable-length array.

[2021-08-23 23:53] #266 closed

[2021-08-23 23:59] sotteson1 commented on #562
I would argue the metadata is correct. You don't have to use a pointer for this value. The definition in the header is a uint of pointer size, which is what the metadata includes. The docs are wrong for saying it's a pointer to a dword. That's not what the header says at all.

[2021-08-24 00:02] sotteson1 commented on #571
It should be char[0], which we're using to imply a variable-length array. I'll fix it.

[2021-08-24 02:32] stevewhims commented on #616
FWIW, I've added a mention of STATUS_PENDING to that topic. I couldn't find an actual *topic* for STATUS_PENDING, so I'm mentioning rather than pointing to. There are other topics in this feature area that mention STILL_ACTIVE, so they might need similar edits. @KB (Karl-Bridge-Microsoft) owns this topic, so mentioning him FHI.

[2021-08-24 05:55] #571 closed

[2021-08-24 07:30] riverar commented on #600
@sotteson1 I did a quick query for all interfaces that have overloaded members. Unless I missed something, this only seems to impact a few namespaces. Are you seeing similar results? I'd say we could just knock this out manually but seeing new teams making the same _mistake_ suggests this pattern will continue and you'll need to automate this.

Namespaces (5):
[code]

Interfaces (36):
[code]

Inte

[2021-08-24 16:55] kennykerr commented on #600
@jonwis may want to look out for this in API review going forward as its quite a compatibility issue.

[2021-08-24 18:01] sotteson1 commented on #600
Thanks for the research @riverar. I should be able to come up with a programmatic way to fix these so we don't have to manually fix them.

[2021-08-24 19:13] mikebattista commented on #610
The fix will be similar to #587. String constants are missing.

[2021-08-24 20:48] KalleOlaviNiemitalo opened #618 "MSIDBOPEN_PATCHFILE etc. for MsiOpenDatabase"
[MsiOpenDatabaseW](https://docs.microsoft.com/windows/win32/api/msiquery/nf-msiquery-msiopendatabasew) documentation lists constants like MSIDBOPEN_CREATEDIRECT that can be passed in the LPCWSTR szPersist parameter, as an alternative to a file name. These constants don't seem to be included in the metadata yet, or at least I cannot find them in <https://microsoft.github.io/windows-docs-rs/doc/bind

[2021-08-24 20:50] KalleOlaviNiemitalo commented on #618
I filed this just because <https://github.com/microsoft/win32metadata/issues/610> reminded me about the unusual definition. I don't really need the constants myself.

[2021-08-26 12:53] jcmoyer opened #620 "Missing LLKHF_* constants"
Docs (see `flags` parameter): https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-kbdllhookstruct

These constants are missing:

- `LLKHF_EXTENDED`
- `LLKHF_ALTDOWN`
- `LLKHF_UP`

The other two constants (`LLKHF_INJECTED` and `LLKHF_LOWER_IL_INJECTED`) are already present.

[2021-08-28 20:09] timsneath opened #621 "Several unexpected types in `Windows.Win32.System.WinRT`"
None of these belong here, since this namespace is for unmanaged calls to Windows Runtime (e.g. `RoInitialize`):

- `Windows.Win32.System.WinRT.Apis.CastingSourceInfo_Property_ProtectedMedia`
- `Windows.Win32.System.WinRT.Apis.CreateDirect3D11DeviceFromDXGIDevice`
- `Windows.Win32.System.WinRT.Apis.CreateRandomAccessStreamOnFile`
- `Windows.Win32.System.WinRT.Apis.E_SURFACE_CONTENTS_LOST`
- `Windo

[2021-08-29 16:38] marler8997 opened #623 "CreateWindowEx lpClassName union?"
According to the documentation for `CreateWindowEx`, the `lpClassName` parameter can be:

However in the metadata, the `lpClassName` parameter is just a `PSTR`:

![image](https://user-images.githubusercontent.com/304904/131258027-a5e4a2e3-bb20-416d-8393-67ffd9017a05.png)

The C header also just declares this parameter as `LPCSTR`, however, I wonder if the metadata should consider enhancing this to

[2021-08-29 20:24] zhiburt opened #624 "`PIPE_WAIT` && `PIPE_NOWAIT` should be located in the same module and have the same type?"
Hi,

According to https://docs.microsoft.com/en-us/windows/win32/api/namedpipeapi/nf-namedpipeapi-setnamedpipehandlestate,
There's 2 modes for pipes `PIPE_WAIT` and `PIPE_NOWAIT`.

`windows-rs` has both constants https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/Foundation/struct.HANDLE.html?search=PIPE_WAIT, but in different modules with different types.
I wonder if it's how

[2021-08-30 03:50] gyk opened #625 "Bitwise operators of `_SIIGBF` are missing"
It would be nice if `SIIGBF_*` constants could be used as bit flags.

Related to https://github.com/microsoft/windows-rs/issues/633.

[2021-08-30 16:02] kennykerr commented on #559
So how do we annotate a Win32-style function for a new API so that the WinmdGenerator adds the attribute?

And any thoughts about just using the `PreserveSig` bit (already defined by ECMA335) rather than using a custom attribute?

[2021-08-30 16:24] kennykerr commented on #623
Using an atom for the class name is very uncommon in my experience. I would prefer not to complicate the definitions. A developer can always coerce the value if needed, but I would prefer if the definition remained faithful to the original declaration in the headers (as it is now).

[2021-08-30 16:53] sotteson1 commented on #623
Thanks for the idea @marler8997, but I agree with @kennykerr. I think we should leave the definition the way it is to represent what the headers model.

[2021-08-30 16:53] #623 closed

[2021-08-30 16:55] sotteson1 commented on #559
I think using PreserveSig is a good idea. I'm reopening the issue so I can change to use PreserveSig instead of AlternateSuccessCodes. That doesn't answer your first question about how to annotate new C APIs, though. Any ideas?

[2021-08-30 17:15] kennykerr commented on #559
We could mint a new SAL-style annotation.

[code]

That would allow us to eventually add it to the Windows SDK for in-box APIs (if desired) but also start using it today for new components and validation without waiting for a new SDK.

[2021-08-30 17:45] marler8997 commented on #623
Actually not in the Zig case.  In the zig case the `CreateWindowExW` function declares the `lpClassName` as a pointer to an array of `u16`.  The problem here is that Zig enforces pointer alignment.  A user reported that they were passing an `ATOM` to this argument (the return value from `RegisterClassExW`) and they got an alignment error they casted it to a `u16` pointer because it wasn't aligned

[2021-08-30 18:10] mikebattista commented on #624
That's a bug. Thanks for filing.

[2021-08-30 18:16] mikebattista commented on #625
Thanks. We need to add the [flags] attribute to the enum then apply it to the IShellItemImageFactory::GetImage flags parameter. We should also remove the leading '_'.

[2021-08-30 18:44] riverar commented on #559
Should we also take this opportunity to move the attribute back to function-level? It doesn't really make sense to me to attach this attribute to the _return type_ itself.

[2021-08-30 18:49] kennykerr commented on #559
The ECMA 335 `PreserveSig` bit is a flag on the `MethodDef` table.

[2021-08-30 18:50] riverar commented on #559
@kennykerr Ah great, fixed itself! 👍

[2021-08-30 19:08] riverar opened #626 "WinmdGenerator doesn't support multi-arch"
Back in April https://github.com/microsoft/win32metadata/pull/435 work was completed. It appears the tooling was updated for multi-arch support, aside from the MSBuild SDK/targets.

The related tasks appear to still be x64-only.
https://github.com/microsoft/win32metadata/blob/master/sources/msbuild/MetadataTasks/ScanLibs.cs#L38

Using the WinmdGenerator as it is today, it does not appear possible

[2021-08-30 19:38] sotteson1 commented on #626
This is unfortunately true. I need to add multi-arch support to the scraper for external projects.

[2021-08-30 20:22] #625 closed

[2021-08-30 20:37] mikebattista commented on #611
Actually LoadImage already has this HANDLE-returning overload so I believe we're already doing this in C#/Win32. @AArnott is this correct?

[2021-08-30 21:51] mikebattista commented on #611
So discussing with Andrew, he pointed out that we do always have an overload that matches the metadata, but HANDLE is wrong for this API since it implies CloseHandle which is wrong in all cases here. It should be changed to IntPtr at least to fix the crash that happens on disposal currently.

We could try to model this specific case in attributes, but it's a nontrivial conditional and I'd rather n

[2021-08-30 21:59] riverar commented on #611
I'm not aware of any Win32 guarantees or requirements that `HANDLE` objects be freeable via `CloseHandle`. So it's not clear why this is being viewed as _wrong_ and not just a faulty assumption on the part of C#/Win32.

[2021-08-30 22:03] kennykerr commented on #611
This comes from the win32metadata. But yes, I agree that this isn't terribly reliable as `HANDLE` is used for all kinds of things that don't map to `CloseHandle`. That's why Rust ignores the `RAIIFree` attribute.

![image](https://user-images.githubusercontent.com/9845234/131411729-1bb6064f-7152-4fbb-8636-f01be7a64253.png)

[2021-08-30 22:18] marler8997 commented on #611
I would have expected the `RAIIFree` attribute to be applied to return types and out parameters rather than the types themselves.

[2021-08-30 22:23] mikebattista commented on #611
Yes it's encoded in the metadata as Kenny pointed out with the RAIIFree attribute. We have more specific HANDLE structs for scenarios that require a more domain-specific Close/Free function.

In this case with LoadImage, you need to use 1 of 3 different "Free" functions based on the combination of parameters supplied, and CloseHandle isn't one of them.

[2021-08-30 22:34] riverar commented on #611
OK, sounds like we want to codify that all Win32 HANDLEs be freeable via `CloseHandle` and any API that produces HANDLEs that do not comply get mutated to return a different type appropriate to that function.

I can get behind that now, thanks for your patience while I wrapped my head around this.

[2021-08-30 22:51] #624 closed

[2021-08-30 23:26] #620 closed

[2021-08-31 00:02] mikebattista commented on #611
Steve, could you take a look at this please? I ran into an issue remapping the return type here in remap.rsp since I think the way HANDLE is scraped is taking precedence over the manual remap.

[2021-08-31 21:06] jnm2 opened #627 "Supported OS platform name contains a space, causing a lot of CA1418 warnings"
The VS error list and `dotnet build` show a bunch of warnings for `PInvoke.Msi.g.cs`, copies of:

Full repro (SDK version 6.0.100-preview.7.21379.14):

[code]

[code]

[2021-09-01 22:58] marler8997 opened #632 "Dhcp types are duplicated and top level ones are empty"
In the `Windows.Win32.NetworkManagement.Dhcp` namespace, the following "top level" types in the metadata are empty:

[code]

Each of these empty types have a corresponding type definition with the same name, but that is nested within another type and whose definition is not empty.

My guess is either the nested types should be removed and the top-level types fixed to include the fields, or, the to

[2021-09-02 01:06] AArnott commented on #559
In CsWin32 we default to preserving non-preservesig signatures, but users can specifically choose PreserveSig for certain methods that return multiple success codes. Is the proposal here then that the metadata express that so users don't have to?

[2021-09-02 01:09] kennykerr commented on #559
Yes.

[2021-09-02 15:38] mikebattista commented on #619
Thanks for reporting this.

The original header defines this as:

[code]

and the metadata defines this as:

[code]

which appears to mirror the original definition.

@AArnott / @sotteson1, what change in the metadata do you need to project this correctly? Or is there a bug in the projection itself?

[2021-09-02 16:58] AArnott commented on #619
`CallbackTable` should be an array in the metadata. The header file (and docs) don't make this clear, but the parameter name suggests it, and all the sample uses prove it.

[2021-09-03 16:43] AArnott opened #634 "Microsoft.Dia.Win32Metadata should express its dependency on Windows.Win32"
All nuget packages that carry metadata should express a nuget dependency on any dependencies that its winmd has.
For example the Dia metadata's package should depend on the win32metadata package.

By following this rule, anyone that brings in some metadata package will automatically get all the others they need as well, rather than get errors from projections due to the inability to follow type re

[2021-09-03 16:45] AArnott commented on #634
We should consider how/whether to express a dependency on the docs package as well, where it exists, as this improves the quality of the generated code for projections that support it. For the projections that *don't* support it but where customers use nuget to acquire the metadata, a dependency would mean downloading an unused docs package.

[2021-09-03 16:46] AArnott opened #635 "Should a metadata package depend on its docs package?"
We should consider how/whether to express a dependency on the docs package as well, where it exists, as this improves the quality of the generated code for projections that support it. For the projections that don't support it but where customers use nuget to acquire the metadata, a dependency would mean downloading an unused docs package.

[2021-09-03 17:24] marler8997 commented on #623
Ping, are we able to reopen this issue?

[2021-09-04 15:25] marler8997 opened #636 "d3d12: Problem with functions that return structures by value"
Original Issue: https://github.com/marlersoft/zigwin32/issues/6

I've coped the original issue here which was created by user @michal-z

The original d3d12.h that comes with Windows SDK has wrong C prototypes for functions that return structures. Fixed headers are released by Microsoft here: https://github.com/microsoft/DirectX-Headers/blob/main/include/directx/d3d12.h

Consider ID3D12Heap::GetDes

[2021-09-04 15:31] marler8997 opened #637 "SC_MANAGER_ALL_ACCESS missing from system.services"
It appears that the metadata is missing `SC_MANAGER_ALL_ACCESS` from `winsvc.h`, defined as:

[code]

[2021-09-04 18:58] marler8997 opened #638 "Suggestion normalize all Platform"
Original Issue: https://github.com/marlersoft/win32json/issues/1

I've copied this issue from user @Iygstate where they suggest that platform strings be normalized.  From their suggestion, it seems that some of the platforms have inconsistent casing and whitespace.  Here is their suggestion:

# Copied Proposal (title "Suggestion normalize all Platform")

And also generate the detail kernel version

[2021-09-04 19:33] lygstate opened #639 "The metadata is missing these functions"
[code]
[code]

[2021-09-04 19:37] marler8997 commented on #637
It appears there are 2 missing constants.  `SERVICE_ALL_ACCESS` and `SERVICE_MANAGER_ALL_ACCESS`.

[2021-09-04 23:08] lygstate opened #640 "RtlInstallFunctionTableCallback has questionable multi-arch definitions"
[code]

[2021-09-05 00:38] marler8997 commented on #640
These duplications are intentional because they have different architectures.

[2021-09-05 00:41] marler8997 commented on #639
This title is a bit misleading, probably better to say, "The metadata is missing these functions".  You current title makes it sound like the functions are in the metadata but the win32json project "lost them", which would not be an issue for the metadata project.

I verified these functions are missing from the metadata.  You can also verify this for yourself by downloading the winmd nuget packag

[2021-09-05 00:57] marler8997 commented on #640
`GetDeviceID` is an exception though.  It actually has 2 definitions, one in `Media.Audio.DirectMusic` and one in `System.TpmBaseServices`.  This might be the only symbol in all of win32 that is duplicated.

[2021-09-05 05:23] lygstate commented on #640
Hi, I've seen the architecture things, but still they  can be merged into a single function:)
I seen other functions with multiple architecture also just have a single signature:)

[2021-09-06 16:54] marler8997 commented on #640
I see, yes some of these might be able to be merged more then they are.  For example, `RtlAddFunctionTable` has 2 different signatures for `X64` and `Arm64`, but they are both pretty much the same, the only difference being that one uses `UInt64` and the other uses `UIntPtr` which should be the same for these 64-bit systems.

On the other side, the next function you listed `RtlDeleteFunctionTable`

[2021-09-07 20:43] marler8997 opened #641 "Winmd file not being installed when updated to v10.2.185-preview."
I tried updating my `csproj` package reference for the metadata package to "v10.2.185-preview" (see https://github.com/marlersoft/win32jsongen/blob/b0204d16272717bba33f1a808352b5cf83b04d9d/Generator/JsonWin32Generator.csproj#L20), however, after updating the `Windows.Win32.winmd` file is no longer installed to the project output directory.  The file doesn't seem to be getting installed anywhere to

[2021-09-07 22:52] marler8997 commented on #623
Just checking in again, could we reopen this issue so we can continue discussion about potential solutions to the problem? cc @sotteson1

[2021-09-07 22:58] kennykerr commented on #623
Sorry, Steve's on vacation. He should be back next week and will check in.

[2021-09-08 02:14] #641 closed

[2021-09-08 21:29] riverar commented on #640
Is there an issue this is causing?

[2021-09-08 21:31] AArnott commented on #640
Where functions in the metadata are declared as unique per CPU architecture unnecessarily, it makes them inaccessible to CPU-agnostic compilers such as AnyCPU-targeting C#. So yes, if it's true that such functions could be merged into one declaration safely, we should endeavor to do so.

[2021-09-08 21:50] riverar commented on #640
I'm confused because none of the listed APIs appear to be candidates for merging. They all differ in inputs (e.g. structures with different packing/alignment) or outputs. The API @marler8997 proposed as a candidate (`RtlAddFunctionTable`) has structure input differences.

What am I missing?

[2021-09-08 22:17] AArnott commented on #640
I haven't looked into any of these myself, but according to @marler8997's comment above, `RtlAddFunctionTable` is effectively the same between ARM64 and X64, modulo one difference that shouldn't impact the ABI.

[2021-09-08 22:23] AArnott commented on #640
I went through the whole list, and the only function that looks like legitimate candidate for merging across architectures is `RtlInstallFunctionTableCallback`.

![image](https://user-images.githubusercontent.com/3548/132593644-69f32dfe-04a4-476c-856c-4d187dcc599b.png)

[2021-09-08 23:03] riverar commented on #640
I think that one may need more investigation. But it does appear collapsing into the `native uint` variant may work well here.

I hesitate because there appears to be an underlying bug that, when resolved, might resolve this issue automatically. That is, `RtlInstallFunctionTableCallback` is defined in amd64, arm, and arm64 contexts. But the metadata strangely has two `RtlInstallFunctionTableCallba

[2021-09-08 23:15] marler8997 commented on #640
Ah it appears I was the one missing something :)

[2021-09-08 23:19] zhiburt opened #642 "`ENABLE_EXTENDED_FLAGS` and a similar set of constants must have a `CONSOLE_MODE` type?"
Hey there.
I just noticed that [ENABLE_EXTENDED_FLAGS](https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/System/Console/constant.ENABLE_EXTENDED_FLAGS.html)
and [ENABLE_VIRTUAL_TERMINAL_INPUT](https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/System/Console/constant.ENABLE_VIRTUAL_TERMINAL_INPUT.html) have different types even though they seems to me must

[2021-09-09 02:04] lygstate commented on #640
I've looking into these functions, I found they were different because depends on different struct type  such
 as

`IMAGE_ARM64_RUNTIME_FUNCTION_ENTRY ` vs `IMAGE_RUNTIME_FUNCTION_ENTRY`
Maybe we need merge these types first?
As all of these functions are depends on different type have different layout on different architecture.
But the parameter count are the same

[2021-09-09 02:05] lygstate commented on #640
`GetDeviceID` are import from different dll so that's not a issue

[2021-09-09 03:11] AArnott commented on #640
@lygstate: where structs have different names in the native headers, we will not be merging them in the metadata.

[2021-09-09 04:45] riverar commented on #640
@lygstate Are you hitting any problems with the metadata? Or are you just curious about the duplicates?

To provide a bit more background on @AArnott's comment, here are three variants of the structure you mentioned. Note how they represent different things! Also remember these structures may be aligned/packed differently depending on the architecture. I think it's fair to say these would be chall

[2021-09-09 10:15] lygstate commented on #640
Gocha, even though they  have different representation, but seems they were the same 3*4 bytes?
I am not sure if they were affected by the pack option

[2021-09-09 11:18] KalleOlaviNiemitalo commented on #640
_IMAGE_RUNTIME_FUNCTION_ENTRY is three DWORDs, but _IMAGE_ARM64_RUNTIME_FUNCTION_ENTRY and _IMAGE_ARM_RUNTIME_FUNCTION_ENTRY are only two DWORDs each.

[2021-09-09 17:37] #642 closed

[2021-09-09 18:06] #594 closed

[2021-09-09 18:19] mikebattista commented on #609
Thanks for filing.

These are nontrivial #defines that require more work to scrape. Assigning to Steve to investigate automatically detecting these before we resort to manually defining them.

[2021-09-09 19:13] mikebattista commented on #618
These definitions are definitely interesting. Assigning to Steve to help with how we want to handle these.

[2021-09-09 19:56] mikebattista commented on #627
@tannergooding do you know where these spaces might be getting encoded? I'm looking through this repo to understand where that might be happening and I see the assignment of these attributes in https://github.com/microsoft/win32metadata/blob/9d9ec4d349850c04f412b465b4c577234d9ab10c/generation/scraper/supportedOS.rsp#L6128 which is then passed to ClangSharpInvokeGenerator at https://github.com/micr

[2021-09-09 19:59] mikebattista commented on #627
This might also be solved by #638 which proposes removing spaces.

[2021-09-09 20:25] tannergooding commented on #627
@mikebattista, ClangSharp just parses the command line as given into key value pairs: https://github.com/microsoft/ClangSharp/blob/main/sources/ClangSharpPInvokeGenerator/Program.cs#L163 + https://github.com/microsoft/ClangSharp/blob/main/sources/ClangSharpPInvokeGenerator/Program.cs#L565-L589

Those get passed in, verbatim, to the configuration settings: https://github.com/microsoft/ClangSharp/bl

[2021-09-09 20:26] tannergooding commented on #627
In particular, these Regex look suspicious: https://github.com/microsoft/win32metadata/blob/86cb5c17a97c20658d90403c0044a5c5c44844c0/scripts/CreateSupportedOSPlatformRsp.ps1#L39-L42

[2021-09-09 20:44] mikebattista commented on #627
Ok. Thanks for the pointers.

[2021-09-09 20:59] mikebattista commented on #627
Ok. I found the issue. The text in supportedOS.rsp has the special space character. I did previously replace all occurrences of "Windows 8" and "Windows Vista" with plain text before and rebuilt the winmd, but that had no effect. The missing piece was rescraping the partitions as well for all the affected APIs for the changes to take effect. I'm seeing the changes take effect now after rescraping.

[2021-09-09 21:53] riverar opened #644 "winmdgenerator: 0.2.185-preview nuget is broken"
MetadataTasks.dll is indeed missing https://nuget.info/packages/Microsoft.Windows.WinmdGenerator/0.2.185-preview

[code]

[2021-09-09 22:56] #627 closed

[2021-09-09 23:06] weltkante commented on #623
I don't think the win32 ABI enforces pointer alignment, does it? As such a projection adding enforcement of things not in the ABI is necessarily faulty (even if it may work for the majority of cases).

The resource APIs of the win32 API come to mind, which use macros like `MAKEINTRESOURCE` come to mind, which aliases string pointers and 16 bit unsigned integers in a string-pointer-typed value. Thi

[2021-09-10 17:15] marler8997 commented on #623
I'm not sure how or why the win32 ABI would do such a thing.  Pointer alignment is enforced by the processor.

The problem here is not that the Zig projection is enforcing things that are not in the ABI, the problem is that the types being declared are incomplete/incorrect.  Currently functions are saying their parameters are pointers to objects, which if actually interpreted that way in the imple

[2021-09-10 17:48] weltkante commented on #623
The ABI specifies how the OS uses the processor when passing data around. Obviously the OS has to respect the processor capabilities, but at least x86 is pretty flexible with unaligned pointers, so its up to the OS to specify in its ABI whether there are any additional alignment constraints.

As far as I'm aware the x86 ABI for Windows is pretty non-restrictive with its alignment requirements? But

[2021-09-10 18:43] marler8997 commented on #623
C/C++ classify unaligned access is "undefined behavior".  But actual unaligned pointer access isn't the issue at hand here.  The issue is with the win32 API is declaring parameters as pointers when they accept more than just pointers.

If win32 returned unaligned pointers to objects, this would be "undefined behavior" and could cause issues with toolchains/cpus/platforms/sanitizers.  My guess is t

[2021-09-10 19:07] weltkante commented on #623
in COM (which uses a combination of `thiscall` and `stdcall` calling conventions) returning a primitive is done via register, returning a struct of the same size is done via stack. There are a few COM interfaces that return structs by value, for example in Direct2D and Direct3D12.

.NET CLR had a longstanding bug where it treated primitive and structs the same. WPF (among others) used this to defi

[2021-09-10 19:15] marler8997 commented on #623
Wow

[2021-09-10 19:34] marler8997 commented on #623
Thanks for that example @weltkante.  I think I have a way to move forward here.

I'm abandoning my idea to use unions in place of pointer types.  I don't like the idea of making a change that has no guarantee on ABI compatibility.  Your example proves there is no such guarantee.

So I think the solution for Zig is to identify the parameters/fields and constants that are union types rather than poi

[2021-09-12 02:04] manju-summoner commented on #571
I tried CsWin32 0.1.560-beta using win32metadata 10.2.163-preview but it still broken.
This may not be an array problem, but a Char marshalling problem.

If I set `CharSet=CharSet.Unicode` in StructLayout, it works fine.
[code]

As well, in the previous implementation, specifying 'CharSet=CharSet.Unicode' worked fine.
[code]

[2021-09-12 07:37] zgabi opened #646 "COMBOBOX_STYLE and BUTTON_STYLE not avalilable anymore"
## Actual behavior

COMBOBOX_STYLE and BUTTON_STYLE enums are not generated.
In the previous version it was there

## Expected behavior

A clear and concise description of what you expected to happen.
COMBOBOX_STYLE and BUTTON_STYLE enum (or at least it's values) are available

## Repro steps

1. `NativeMethods.txt` content:
[code]

2. `NativeMethods.json` content (if present):
[code]

3. Any of y

[2021-09-13 16:28] AArnott commented on #571
@manju-summoner This isn't expected to work in CsWin32 until https://github.com/microsoft/CsWin32/issues/387 is fixed.

[2021-09-13 18:32] mikebattista commented on #646
I see the values in the metadata. If you list specific values in NativeMethods.txt, are they generated?

[2021-09-13 18:50] mikebattista commented on #640
Given the discussion, is this the only remaining outstanding issue here?

[2021-09-13 18:56] zgabi commented on #646
Yes, If I add the calues, they are generated, but not the whole enum, as it was earlier.

[2021-09-13 18:58] mikebattista commented on #646
Ok. Removing the enums was by design as part of #121 as Andrew pointed out. You can follow the discussion there for the reasoning.

[2021-09-13 18:58] #646 closed

[2021-09-13 19:01] mikebattista commented on #569
Where would you recommend these live?

[2021-09-13 19:05] mikebattista commented on #621
These all come from headers intended for WinRT interop, so I believe they're in the right namespace.

[2021-09-13 19:05] #621 closed

[2021-09-13 19:17] mikebattista commented on #632
Assigning to @keith-horton and @sotteson1 to investigate the header definitions and how they are being scraped.

[2021-09-13 19:39] riverar commented on #640
@mikebattista Agreed.

[2021-09-13 19:49] mikebattista commented on #640
Thanks. Assigning to @sotteson1 to look at how RtlInstallFunctionTableCallback is defined across architectures.

[2021-09-13 20:36] jnm2 commented on #569
With any other structures used by functions that take or return window handles? I don't recall what the problem would be (if there was one) with every struct in winuser.h going into a single namespace.

[2021-09-13 20:59] #637 closed

[2021-09-13 21:51] riverar opened #648 "Proposal: Emit DllImport attribute w/ lowercase dllname"
I am proposing that all `DllImport` attributes always be emitted with its dllname in lowercase form. This, I believe, aligns more closely with lib naming practices on non-Windows platforms (where cygwin, mingw, etc. are in use). It also removes the burden on bindings authors to individually handle this.

The Rust crate, for example, [transforms all names at compilation time](https://github.com/mic

[2021-09-14 16:03] riverar commented on #644
@sotteson1 @AArnott Can you please attach the build artifacts when that's done? I'd like to try it out. (Or alternatively elevate my access 😁)

[2021-09-14 16:29] AArnott commented on #644
Here you go:
[NuGetPackages.zip](https://github.com/microsoft/win32metadata/files/7163637/NuGetPackages.zip)

[2021-09-14 20:34] kennykerr commented on #443
@sotteson1 I tried creating a scoped enum for a test component but it doesn't appear to matter whether I use `enum` or `enum class` in C++ it always ends up unscoped. e.g.

https://github.com/microsoft/windows-rs/blob/e89054ab4a3ef55bfe5c5ca9ab1b4a89f4374ccd/tests/component/simple.h#L27-L31

[2021-09-14 20:44] sotteson1 commented on #443
Unfortunately the scraper doesn't predict whether an enum should have the ScopedEnum attribute. It has to be applied manually as data fed into the emitter. Let me see if there's a way to do that with a project using the external msbuild scraper and I'll let you know what I figure out.

[2021-09-14 20:55] kennykerr commented on #605
This is becoming an issue for the Windows crate that now uses the winmd generator for testing.

[2021-09-14 20:56] kennykerr commented on #626
Likewise, this is becoming an issue for https://github.com/microsoft/windows-rs that now uses the winmd generator for testing.

[2021-09-14 21:09] manju-summoner commented on #571
I understand. I'll wait for the fix.

[2021-09-14 22:11] kennykerr commented on #443
And what about other types like those with the `NativeTypedef` attribute? How could I define my own? I tried something like this:

[code]

But that seems to be ignored.

[2021-09-14 22:52] AArnott opened #650 "WerStoreOpen second parameter should be typed as a typedef struct"
The `WerStoreOpen` method returns what amounts to a handle, as it's a pointer to an undefined struct.
This handle is also expected to be released with `WerStoreClose`, so this typedef struct should probably use an `RAII` attribute so that CsWin32 can expose this as a SafeHandle.

Finally, all the other `Wer*` methods should accept this typedef struct.

At present, this is exposed as a `void*` whic

[2021-09-14 22:53] sotteson1 commented on #443
Those also have to be defined manually. I'm working on some documentation for the different options you can add to response files that help facilitate things like this.

[2021-09-14 23:12] AArnott opened #651 "Should FARPROC really be typed as an IntPtr-returning delegate?"
I thought a FARPROC would be a pointer to a function. But in the metadata it's defined as a delegate that returns an `IntPtr`. Is it really appropriate to give it a delegate type as if we knew the function signature?

[2021-09-14 23:18] sotteson1 commented on #651
We emit pointers to functions as delegates. Here's the definition in the header:

[code]

[2021-09-15 03:52] AArnott commented on #651
Ya, I saw that, but my C reading skills are rusty. I'll take your word for it that that's a pointer-returning function pointer.
Thanks.

[2021-09-15 03:52] #651 closed

[2021-09-15 04:30] kennykerr opened #653 "GetLastError and SetLastError don't match"
Is there a reason why `GetLastError` returns `WIN32_ERROR` but `SetLastError` expects `uint`?

[2021-09-15 06:50] riverar commented on #644
Please re-open, this is still broken. @AArnott @sotteson1

[code]

[2021-09-15 16:50] marler8997 commented on #653
It's a feature!  Let's you convert `uint` to `WIN32_ERROR` with `SetLastError(error_code);GetLastError()` :)

[2021-09-15 17:26] sotteson1 commented on #644
I'll take a look. I think it's because we moved to use global.json instead of specifying the version explicitly.

[2021-09-15 19:02] AArnott commented on #644
Oh, that's interesting. @riverar could you try specifying the sdk version in a global.json file in your repo just to see if that unblocks you?

Something like this:
https://github.com/microsoft/win32metadata/blob/dd8c7462926a3b62c98c2b91e968387b3dcac649/global.json#L7-L8

@sotteson1 if your suspicion is correct, then I'd adjust my recommendation to relying on global.json to set the version everywh

[2021-09-15 19:10] sotteson1 commented on #644
Specifying the version of Microsoft.Build.NoTargets in the Import elements seems to fix it. I'll make a fix for it.

[2021-09-15 20:09] riverar commented on #644
@AArnott That does unblock, thanks, but would prefer not to have this file.

[2021-09-15 20:16] sotteson1 commented on #644
This fix I'm making won't require that file.

[2021-09-15 20:36] #644 closed

[2021-09-16 04:29] riverar commented on #644
Standing by to retry with new packages.

[2021-09-16 04:33] sotteson1 commented on #644
Try this one:

[NuGetPackages_latest.zip](https://github.com/microsoft/win32metadata/files/7174929/NuGetPackages_latest.zip)

[2021-09-16 04:51] riverar commented on #644
@sotteson1 Works 👍

[2021-09-17 21:07] AArnott opened #655 "WerReportCreate should produce an HREPORT"
The [WerReportCreate](https://docs.microsoft.com/en-us/windows/win32/api/werapi/nf-werapi-werreportcreate) method has an `[out] HREPORT` parameter in the documentation but the metadata only represents this as an `[Out] IntPtr*`.

The `HREPORT` should be a typedef that is released by a call to [WerReportCloseHandle](https://docs.microsoft.com/en-us/windows/win32/api/werapi/nf-werapi-werreportcloseh

[2021-09-18 03:42] AArnott opened #656 "IsOS is missing an enum"
The [IsOS](https://docs.microsoft.com/en-us/windows/win32/api/shlwapi/nf-shlwapi-isos) method deserves an enum for its parameter.

[2021-09-18 03:45] AArnott opened #657 "GetDeviceCaps enum is missing most of its members"
The [GetDeviceCaps](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-getdevicecaps) function's second parameter is an enum. In the docs this argument can be any of many values. But the metadata's enum has exactly 1 member.

[2021-09-18 04:09] AArnott opened #658 "GetSystemFirmwareTable enum missing"
The [GetSystemFirmwareTable](https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-getsystemfirmwaretable) method takes a very bizarre first parameter which is typed as a 32-bit integer but accepts one of 3 values created by putting 4 ascii characters together.
These should be an enum for easy access:

[code]

[2021-09-18 04:51] KalleOlaviNiemitalo commented on #658
What's the policy on singular vs. plural in names of non-Flags enum types?

[2021-09-18 14:47] AArnott commented on #658
Good question. I don't know what policy we adopted in this repo. The name of the enum I gave above is just an idea.

[2021-09-19 01:32] riverar commented on #658
This is less bizarre in the context of ACPI.

The docs indicate the first parameter _can_ be one of those values, but this can be any signature value [1] (e.g. `FACP`, `MCFG`, `APIC`, `HPET`) including values outside the specification [2].

If you're going to create an enum for the supported values, please do include all the values per ACPI 6 specification. Otherwise (and my recommendation) perhap

[2021-09-19 02:25] AArnott commented on #658
Oh, interesting. I think "can be one of the following values" is the same language they use for closed sets. If that's true that's too bad because it isn't clear which are open vs. closed sets.

Yes, enums are probably best used for closed sets of values. But maybe the metadata can define constants for these at least.

[2021-09-19 04:29] KalleOlaviNiemitalo commented on #658
@riverar, wouldn't those `FACP`, `MCFG`, `APIC`, `HPET`, etc. go in the second parameter `DWORD FirmwareTableID`, rather than the first parameter `DWORD FirmwareTableProviderSignature`?

[2021-09-19 05:28] riverar commented on #658
Yep, good catch.

@AArnott 's original ask stands. Although now I'd like to see that signature parameter also get a friendly enumeration treatment too!

[2021-09-19 17:13] reflectronic opened #659 "Missing header `audioclientactivationparams.h`"
The `audioclientactivationparams.h` header is missing. It was introduced in the 20348 SDK. It is used in conjuction with the Core Audio APIs (`ActivateAudioInterfaceAsync`).

[2021-09-19 17:47] riverar opened #660 "Missing 22000 SDK era APIs (e.g. ioringapi.h)"
Folks are coming online with 22000.xxx (e.g. OEMs were given media), so just want to put this here to ensure 22000 is on the radar.

Example: [ioringapi.h](https://docs.microsoft.com/en-us/windows/win32/api/ioringapi/?WT.mc_id=WD-MVP-5002756)

[2021-09-20 15:46] mikebattista commented on #660
Yes we will update to the latest SDK.

[2021-09-20 15:49] mikebattista commented on #659
Thanks. We will add once we update to 22000 (#660).

[2021-09-20 16:10] mikebattista commented on #658
So FirmwareTableProviderSignature should use constants rather than an enum? And FirmwareTableID should be an enum with members like FACP = PCAF (in ASCII)?

For the latter, should it contain all the values from table 5.5 and 5.6 in the [spec](https://uefi.org/specs/ACPI/6.4/05_ACPI_Software_Programming_Model/ACPI_Software_Programming_Model.html#description-header-signatures-for-tables-defined-by-a

[2021-09-20 17:03] AArnott commented on #658
No constants. Just the enum originally asked for for the first parameter.
The second parameter takes data obtained from another API so no constants should be required for that, and an enum would suggest a closed set, which isn't the case for the second parameter.

[2021-09-20 17:07] riverar commented on #658
Agreed.

[2021-09-22 06:06] riverar commented on #644
Heads up, the NuGet version hasn't been replaced nor a new version released yet.

[2021-09-22 09:16] riverar opened #662 "Requesting new winmdgenerator NuGet"
Am attempting to generate metadata for static libs but there are no current/working winmdgenerator packages at this time.

0.3-preview: ok [(not published)](https://github.com/microsoft/win32metadata/issues/644#issuecomment-920567545)
0.2.185-preview: broken
0.2.163-preview: broken (doesn't produce winmd files)
0.2.118-preview: ok (but doesn't support static libs)

[2021-09-22 09:25] roblabla opened #663 "NTDDI_WINTHRESHOLD has wrong value"
https://microsoft.github.io/windows-docs-rs/doc/bindings/Windows/Win32/System/ApplicationInstallationAndServicing/constant.NTDDI_WINTHRESHOLD.html

This should be 0x0A000000. Instead it's 0x06040000.

[2021-09-22 16:56] kennykerr commented on #662
@sotteson1 this is holding up [windows-rs](https://github.com/microsoft/windows-rs) - any chance you can take a look? It's also been a while since the last release of the win32 metadata itself.

[2021-09-22 17:25] sotteson1 commented on #662
I'm working on a big change to the generator that will allow for multi-arch support and all the other options that the main winsdk generator can use. I hope to have it out today.

[2021-09-23 15:23] roblabla opened #668 "Missing constants _WIN32_WINNT_*"
The following constants, found in `sdkddkver.h`, are missing from win32metadata:

[code]

[2021-09-23 15:25] roblabla commented on #668
Actually, I kinda suspect sdkddkver.h is entirely missing from win32metadata.

[2021-09-23 17:02] #650 closed

[2021-09-23 17:02] #655 closed

[2021-09-23 17:02] #658 closed

[2021-09-23 18:27] #657 closed

[2021-09-23 19:03] #656 closed

[2021-09-23 19:14] mikebattista commented on #569
FlashWindow can move to Windows.Win32.UI.WindowsAndMessaging.

Where do you recommend WIN32_ERROR live? Would it be a good candidate for Windows.Win32.Foundation?

@kennykerr for some thoughts as well.

[2021-09-23 19:18] kennykerr commented on #569
`WIN32_ERROR` is in the same namespace as the `GetLastError` function that is typically used to return `WIN32_ERROR`. Why should it be moved elsewhere?

[2021-09-23 19:33] mikebattista commented on #569
I moved FlashWindow. WIN32_ERROR seems to be in a reasonable place. Please file a new issue for that and recommend a namespace if you feel it should be moved.

[2021-09-23 22:58] kennykerr opened #671 "SIO_GET_EXTENSION_FUNCTION_POINTER missing constant"
Porting some code I came across this missing constant.

[code]

[2021-09-23 22:58] kennykerr commented on #671
It is used with the `WSAIoctl` function.

[2021-09-23 23:08] kennykerr opened #672 "PIPE_ACCESS_DUPLEX wrong namespace"
I think this should be in the `Windows.Win32.System.Pipes` namespace along with the other Named Pipe APIs, rather than in the `Windows.Win32.System.WindowsProgramming` namespace.

[2021-09-23 23:11] kennykerr commented on #672
Same for `PIPE_UNLIMITED_INSTANCES`.

[2021-09-23 23:11] kennykerr commented on #672
And a few others like `PIPE_ACCESS_INBOUND` etc.

[2021-09-23 23:53] kennykerr opened #673 "`SOCKADDR_IN`'s `sin_family` field should be `ADDRESS_FAMILY` type"

[2021-09-23 23:54] kennykerr commented on #673
Just make sure you check the size. `sin_family` is 16 bits while `ADDRESS_FAMILY` is 32 bits. One of them is wrong.

[2021-09-23 23:58] kennykerr commented on #673
Same with `SOCKADDR_IN6` and `sin6_family`.

[2021-09-23 23:59] kennykerr commented on #673
And `SOCKADDR` and `sa_family`.

[2021-09-24 00:12] jnm2 commented on #569
A reason I would give for both WIN32_ERROR and GetLastError to be in the root namespace is because they are part of the API usage of many functions which have nothing else in common. Extra using directives at the top of the file for such a universal situation does not seem great.

[2021-09-24 07:30] tim-weis opened #674 "HeapAlloc doesn't set the calling thread's last error code"
The documentation for [HeapAlloc](https://docs.microsoft.com/en-us/windows/win32/api/heapapi/nf-heapapi-heapalloc) has the following paragraph in the *Return value* section:

Conversely, this API call is [currently listed](https://github.com/microsoft/win32metadata/blob/b07213e28bcc48221c155024f9c5e0e1a92c6497/generation/WinSDK/WithSetLastError.rsp#L1588) in the *WithSetLastError.rsp* file. Is thi

[2021-09-24 07:47] KalleOlaviNiemitalo commented on #674
Similar to <https://github.com/microsoft/win32metadata/issues/537>; the documentation mentions GetLastError, and the scraper does not understand English and assumes GetLastError should be called.

[2021-09-24 13:44] KalleOlaviNiemitalo commented on #674
Also HeapReAlloc and HeapSize.

[2021-09-24 16:40] #674 closed

[2021-09-24 17:31] kennykerr opened #675 "setsockopt and SOL_SOCKET don't match"
The `setsockopt` function expects a [socket option](https://docs.microsoft.com/en-us/windows/win32/winsock/socket-options) but those like `SOL_SOCKET` are `uint` whereas `setsockopt` expects an `int`.

[2021-09-24 17:52] kennykerr opened #676 "WaitNamedPipeW has weird parameter"
The timeout has been replaced with an enum. Although there are some magic numbers that can be used with this parameter, it is technically a timeout measured in milliseconds and so having to cast a specific value to an enum just seems weird.

[2021-09-24 18:17] kennykerr opened #677 "CreateNamedPipeA flags"
This function has flags, similar to CreateFileA, that are routinely OR'd together however the flags and parameters are currently just integers making that impractical.

[2021-09-24 18:26] sotteson1 commented on #662
Sorry this came a little later than I thought. Getting it over the finish line took longer than I thought it would. Let me know if you run into any issues.

[2021-09-24 18:26] #662 closed

[2021-09-24 18:29] kennykerr commented on #677
Also, the `dwOpenMode` parameter can accept a combination of file and pipe flags. For example:

[code]

Some of them are already included in the synthesized win32 metadata's `FILE_FLAGS_AND_ATTRIBUTES` enum while some are not. It may be sufficient to just add the missing constants to this enum and then update the function to use `FILE_FLAGS_AND_ATTRIBUTES`.

[2021-09-24 18:32] sotteson1 commented on #626
This should be fixed with the latest release. Let me know if you run into any issues.

[2021-09-24 18:32] #626 closed

[2021-09-24 18:33] sotteson1 commented on #605
Should be fixed in the latest release.

[2021-09-24 18:33] #605 closed

[2021-09-24 18:36] kennykerr commented on #677
For other parameters to this function, like `dwPipeMode`, there already appear to be enums, like `NAMED_PIPE_INFO_FLAGS`, but the function's signature isn't using them.

[2021-09-24 19:00] kennykerr opened #678 "`WAIT_TIMEOUT` missing from `WIN32_ERROR`"

[2021-09-24 19:14] mikebattista commented on #671
Do these go in the `dwIoControlCode` parameter of `WSAIoctl` and `WSPIoctl`? Is https://docs.microsoft.com/en-us/windows/win32/winsock/winsock-ioctls the full set? Should this be an enum? @keith-horton

[2021-09-24 19:16] mikebattista commented on #678
It's part of `WAIT_RETURN_CAUSE` right now which the Wait* functions return. Is this used elsewhere as well?

[2021-09-24 19:17] sotteson1 commented on #677
Sorry @mikebattista, I started already working on this when you assigned it to yourself. I should have assigned it to me first.

[2021-09-24 19:18] #677 closed

[2021-09-24 19:42] mikebattista commented on #639
These all have K32-prefixed equivalents. psapi.h is a bit weird here.

Assigning to @sotteson1 to look at how to address this.

[2021-09-24 19:44] mikebattista commented on #639
Related issue: https://github.com/microsoft/win32metadata/issues/229.

[2021-09-24 20:57] riverar opened #679 "Proposal: More robust handling of dynamic/static libs in winmdgenerator"
## Summary
The winmdgenerator requires _import libraries_ to generate Windows Metadata describing APIs that reside in both dynamic-link and static libraries. Import libraries are not generally available for static libraries, requiring some additional acrobatics and potentially an additional sidecar project to create an otherwise unused dynamic-link library.

I propose we change winmdgenerator to n

[2021-09-24 21:25] mikebattista commented on #679
@sotteson1 do you agree with the proposal?

[2021-09-24 21:46] sotteson1 commented on #679
I see what you mean, although in the current implementation, you don't need the static lib to exist for it to work. Also, instead of making a new element, we could have ImportLibs work with both DLL and static libs and detect the difference and do the right thing depending on what it sees. @wravery, what do you think? (Since you were the one who introduced static libs into the emitter.)

[2021-09-24 23:30] wravery commented on #679
Sounds good to me, although I'd like to keep supporting a single winmd for scenarios where both already exist (e.g. WebView2). Can we do it in a way that supports both a standalone static lib and a static lib as an alternative to the DLL? That way we keep the fallback for libraries that include both and projections that don't do static linking.

[2021-09-25 16:00] riverar commented on #679
@wravery I added a table to the original post to cover some requirements. If I understood correctly, you'd like to continue scanning both import/static libs and emit both DllImport and StaticLibrary attributes on functions in the metadata.

[2021-09-25 17:28] wravery commented on #679
Yes, I'd like to have support for either, or both attributes in the same winmd.

[2021-09-25 17:38] skystedt opened #683 "SetupDiEnumDeviceInfo uses `[Out]` for parameter which caller must initialize"
## Actual behavior
Some functions requires the caller to set the cbSize property of an struct.
But the friendly overload has in some cases the struct with an `out` modifier making it impossible to set the cbSize property.

One example is SetupDiEnumDeviceInfo
https://docs.microsoft.com/en-us/windows/win32/api/setupapi/nf-setupapi-setupdienumdeviceinfo

The friendly overload is generated as:
`inter

[2021-09-26 03:58] kennykerr commented on #678
Yes, it is also used as a general purpose error code.

[2021-09-26 04:03] kennykerr commented on #671
`dwIoControlCode`

[2021-09-26 07:45] KalleOlaviNiemitalo commented on #678
Where is it used as an error code? In <https://github.com/MicrosoftDocs/sdk-api/search?q=WAIT_FAILED>, all the matches are for return values of wait functions.

[2021-09-26 14:51] kennykerr commented on #678
That query is for `WAIT_FAILED` not `WAIT_TIMEOUT`.

`WAIT_TIMEOUT` is used quite frequently as a Win32 error code. I came across it porting some production code. For example, `GetQueuedCompletionStatus` may fail and `WAIT_TIMEOUT` is reported via `GetLastError`.

[2021-09-26 15:00] kennykerr commented on #678
You could just have the same value in both `WAIT_RETURN_CAUSE` and `WIN32_ERROR`

[2021-09-26 18:40] #541 closed

[2021-09-27 15:05] mikebattista commented on #678
Won't this cause problems for you? We've avoided duplicating names across constants and/or enum members for projections like yours.

Or are you suggesting adding ERROR_WAIT_TIMEOUT to WIN32_ERROR rather than just WAIT_TIMEOUT?

[2021-09-27 15:29] kennykerr commented on #678
It would need a unique name, but the more I look at this I don't think `WAIT_RETURN_CAUSE` should return at all. Those functions return an open-ended list of values. They should just return `uint` as the original functions do and let the caller deal with the variations.

[2021-09-27 16:35] mikebattista commented on #678
Is that true? The docs suggest they return a closed set, and if WAIT_FAILED, then call GetLastError.

[2021-09-27 16:48] mikebattista commented on #672
Many of these were moved as part of https://github.com/microsoft/win32metadata/commit/f46775e2b61a419006e3338b9df7bd4c6911da10.

I think the only remaining one is PIPE_UNLIMITED_INSTANCES.

[2021-09-27 16:53] #672 closed

[2021-09-27 16:59] kennykerr commented on #678
Yes, that's true. Only the absolute simplest case is `WAIT_RETURN_CAUSE` sufficient. See for example:

https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-waitformultipleobjects#return-value

[2021-09-27 17:04] mikebattista commented on #678
Ah I see. I missed the ranges. So we can remove WAIT_RETURN_CAUSE and move WAIT_TIMEOUT and WAIT_FAILED to WIN32_ERROR.

[2021-09-27 17:09] kennykerr commented on #678
Yep that would be great.

[2021-09-27 17:10] #676 closed

[2021-09-27 17:24] mikebattista commented on #569
@kennykerr, any objections to moving Get/SetLastError and WIN32_ERROR to .Foundation? I think we had considered this before but there was concern that all of the constants of WIN32_ERROR in .Foundation would be noisy.

[2021-09-27 17:28] #678 closed

[2021-09-27 17:37] keith-horton commented on #671
Yes, what Kenny pointed out is indeed a dwIoControlCode to be passed to WsaIoctl. I just looked and it seems we have most, but not all, IOTCL control codes documented on that MSDN page.

Some are declared in mstcpip.h, some in mswsock.h, most in ws2def.h.
Then there are the bluetooth IOCTLs if someone creates a Bluetooth socket (Sockets can be created for things other than TCPIP sockets). those ar

[2021-09-27 17:42] mikebattista commented on #671
Thanks. Consolidating across headers is easy. The harder part is teaching the tools how to scrape these constants that are defined with macros, but it's doable.

If you could provide the definitive list of all the values that need to be included in the enum and from what headers, that would help. Also, we should update the documentation to include any missing control codes.

[2021-09-27 18:55] mikebattista commented on #569
Will open a new issue for moving the error APIs.

[2021-09-27 18:55] #569 closed

[2021-09-27 18:56] mikebattista opened #680 "Move WIN32_ERROR and Get/SetLastError(Ex) to Windows.Win32.Foundation"
See #569 for the discussion.

[2021-09-27 19:03] #680 closed

[2021-09-27 19:03] #653 closed

[2021-09-27 19:19] mikebattista commented on #513
This next update contains several breaking changes. @sotteson1 I suggest we start incrementing the major version now and then continue doing so for breaking changes going forward to follow semver.

[2021-09-27 19:53] sotteson1 commented on #513
The problem is just about every change we make is a breaking change. Anytime we move something from one namespace to another, for example. If we do this, the major number is going to get large in a hurry.

[2021-09-27 20:13] kennykerr commented on #513
Every time I publish an update to the [Windows crate](https://crates.io/crates/windows) I bump the version for this reason - its now at 21. That's normal at this stage and a large number is not a bad thing. It's just a number.

[2021-09-27 20:25] sotteson1 commented on #513
OK, sounds good. I'll update it regularly as needed.

[2021-09-27 20:29] riverar commented on #513
With the major maximum capped to 65535, and considering we're at 10 already, we have ~65,525 more numbers to use. Assuming we increment once _daily_, we have a runway of ~179 years. I hope we won't need this metadata for that long. 😆

[2021-09-27 20:42] mikebattista commented on #513
Right and I think our ideal cadence is publishing updates once every week or two anyway.

[2021-09-27 21:53] #600 closed

[2021-09-27 22:16] jlaanstra opened #682 "WM_SETTINGCHANGE can't be found."
## Actual behavior

Adding ```WM_SETTINGCHANGE``` to NativeMEthods.txt results in error PInvoke001: Method, type or constant "WM_SETTINGCHANGE" not found.

## Expected behavior

WM_SETTINGCHANGE works as expected based on https://docs.microsoft.com/en-us/windows/win32/winmsg/wm-settingchange

## Repro steps

1. `NativeMethods.txt` content:
[code]

2. `NativeMethods.json` content (if present):
[cod

[2021-09-27 22:43] jnm2 commented on #683
The suggestion is: if it is a `ref` parameter for a struct with a `cbSize`-ish field, the friendly overload would use `out` and do this to call the DllImport overload:

[code]

[2021-09-27 22:45] AArnott commented on #683
Yes, I get the suggestion, but that would require that CsWin32 assume that there is no other reason for the parameter to be `ref`. If some APIs actually *do* require more initialization than just `cbSize` of the struct, we don't want the friendly overload to block that.
But if you want to continue that conversation, please file another issue on CsWin32 since this issue now tracks the defect in met

[2021-09-27 22:48] jnm2 commented on #683
Sorry about that, I was adding one more thought by editing after I posted.

[2021-09-28 13:57] marler8997 opened #685 "SetWindowsHookEx A/W functions are missing"
Original Issue: https://github.com/marlersoft/win32json/issues/3

[2021-09-28 18:13] mikebattista commented on #685
I see these in the metadata under Windows.Win32.UI.WindowsAndMessaging.

[2021-09-28 18:17] marler8997 commented on #685
You're right, the problem was it should be "Windows" not "Window".  Thanks.

[2021-09-28 18:17] #685 closed

[2021-09-28 19:32] sotteson1 opened #687 "Incremental build doesn't notice changes to manual files require a rebuild of the winmd"
I need to add a fix in ScrapeConstants.cs to AreNonPartitionFilesUpToDate() to look for changes to manual files.

[2021-09-28 20:56] #663 closed

[2021-09-28 20:56] #668 closed

[2021-09-28 20:57] mikebattista commented on #668
I added sdkddkver.h to Windows.Win32.System.SystemInformation. You should find these constants there.

[2021-09-28 20:58] mikebattista commented on #663
I resolved the conflict with msi.h. You should find the correct values along with other constants from sdkddkver.h under Windows.Win32.System.SystemInformation going forward.

[2021-09-28 21:28] skystedt commented on #683
I looked manually and found the following that seems to be wrong:
[code]

[2021-09-29 07:47] #613 closed

[2021-09-29 18:23] mikebattista commented on #683
The problematic parameters here are marked with `_Out_` or `_Out_opt_` in the headers, so the metadata is reflecting that. Are the headers wrong?

[2021-09-29 18:27] skystedt commented on #683
They all require the cbSize property to be set

[2021-09-29 18:30] AArnott commented on #683
Yes, the headers are wrong, if by `_Out_` it means the caller is not expected to initialize these values at all.

[2021-09-29 21:55] riverar opened #689 "winmdgenerator: x86, arm64 libs are not scanned correctly resulting in missing metadata"
MetadataTasks scans import lib dumpbin output for function names. It's currently pulling out `Symbol name`, which may be decorated, depending on target platform (e.g. _Function@0 on x86, Function on x64, etc.). This should instead read the undecorated `Name` field.

https://github.com/microsoft/win32metadata/blob/832ff5798733fc292c3bdbc73c8ae81e7a0cda4b/sources/GeneratorSdk/MetadataTasks/ScanLibs.

[2021-09-30 20:53] jnm2 commented on #683
Another one that is getting an `out` parameter as of CsWin32 0.1.588-beta is https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getlastinputinfo. It always fails if the caller doesn't initialize cbSize.

[2021-09-30 21:03] mikebattista commented on #683
Thanks. It's another case of the SAL annotations in the headers being wrong. We can add [In] in the metadata for these.

[2021-09-30 21:48] dorssel opened #691 "Missing `usbdef.h` and `usbioctl.h`"
`usbdef.h` and `usbioctl.h` contain structures and constants for user-mode querying of USB device details, e.g. `FILE_DEVICE_USB`, `IOCTL_USB_GET_NODE_CONNECTION_INFORMATION_EX`, and `USB_NODE_CONNECTION_INFORMATION_EX`.

Note that some other USB specific headers *are* scraped/supported, such as `usbiodef.h`, which contains e.g. `GUID_DEVINTERFACE_USB_HUB` and works fine.

[2021-09-30 22:29] #640 closed

[2021-10-01 06:29] sotteson1 commented on #689
Hmm, when scanning the cabinet.lib for x86 I don't see the clean name at all:

[code]

Advapi32.lib does have the nice name:

[code]

So if I see the name type is "undecorate" I could use the Name, but on the example from cabinet, Name isn't an option.

[2021-10-01 06:40] sotteson1 commented on #513
We've update to version 11.0.x and we'll update the major version for releases with breaking changes.

[2021-10-01 06:40] #513 closed

[2021-10-01 06:48] riverar commented on #689
Ah, drat. `IMPORT_OBJECT_ORDINAL` is going to be tricker then. Thinking.

[2021-10-01 07:14] riverar commented on #689
Perhaps a minimum viable _hack_ would be some extra processing of the symbol name, e.g.

[code]

[2021-10-01 17:28] #683 closed

[2021-10-01 17:55] mikebattista commented on #682
For cases like this where one #define is an alias for another in the same header file, we should explore systematically detecting these with the ConstantsScraper.

[2021-10-03 15:33] AArnott opened #693 "Missing MSDelta methods"
Are the [msdelta](https://docs.microsoft.com/en-us/windows/win32/devnotes/msdelta) methods expected to be included in the metadata? If not, where would we expect to find them?

[2021-10-03 22:54] sancarn opened #694 "rtlMoveMemory is missing ?"
Can't find Kernel32's CopyMemory in here.

[2021-10-04 12:41] marler8997 commented on #694
It looks like `CopyMemory` may not be an actual function exported by kernel32.dll.  According to the docs:

That being said, it does look like `RtlCopyMemory` does exist, i.e.

[code]

And I'm not seeing `RtlCopyMemory` in the metadata.

[2021-10-04 18:46] sancarn commented on #694
That line in the docs, as far as I know, is specifying `RtlCopyMemory` is a C macro which results in calls to `Kernel32`'s `CopyMemory`. [The `CopyMemory` function is definitely exported from `Kernel32`](https://www.pinvoke.net/default.aspx/urlmon/CopyMemory.html), though i know it's existence in pInvoke doesn't guarantee anything.

[2021-10-04 19:42] mikebattista commented on #694
These all look like inlines to me which we don't support in the metadata especially if they defer to CRT APIs.

[code]

[2021-10-04 19:42] #694 closed

[2021-10-04 19:57] mikebattista commented on #693
Looks like the header is in the SDK but not included in the metadata currently. We should be able to add it.

[2021-10-04 20:56] kennykerr commented on #443
Any word on this?

[2021-10-04 21:17] kennykerr opened #695 "Windows.Win32.Interop.Architecture"
The `Architecture` enum has the following constants:

[code]

Is it fair to say that the the resulting Win32 winmd will only ever use either `X86`, `X64`, or `Arm64`?

I assume `All` would result in the absence of the `SupportedArchitecture` attribute and `None` is never used. Is that correct?

[2021-10-04 21:19] sotteson1 commented on #695
Yes, you have that right. I use All/None internally in the scraping process, but in the actual winmd you will not see All/None.

[2021-10-04 21:20] kennykerr commented on #695
Thanks!

[2021-10-04 21:20] #695 closed

[2021-10-04 21:22] AArnott commented on #693
It looks like https://docs.microsoft.com/en-us/windows/win32/devnotes/patchapi-createpatchfileex is missing as well, and they are both around computing deltas and patching, so they should probably go into the same namespace.

[2021-10-04 21:51] sotteson1 commented on #443
I've added some more information here: https://github.com/microsoft/win32metadata/blob/master/docs/generationOptions.md

I am missing a couple things there like the autotypes, so I'll work on that.

But maybe the best way to see what's possible is looking at this sample: https://github.com/microsoft/win32metadata/tree/master/sources/GeneratorSdk/samples/GeneratorSampleDebug

I've tried to include

[2021-10-06 01:20] #689 closed

[2021-10-14 04:32] #660 closed

[2021-10-14 04:35] sotteson1 commented on #691
I tried adding usbioctl.h but it doesn't compile with our tools. I'll need to look into it more.

[2021-10-14 19:40] riverar opened #699 "What happened to 11.x?"
With the release of `v12.0.2-preview`, I'm left wondering... what happened to 11.x?

[2021-10-14 19:43] sotteson1 commented on #699
We were using that number but then never published a release for it. I just moved to a new SDK and changed some namespaces so I bumped it up again.

[2021-10-14 19:44] #699 closed, assigned to nobody

[2021-10-15 02:05] kennykerr opened #700 "Namespace dependencies need some cleaning up"
https://gist.github.com/kennykerr/cd45cf6473498707a469abec8dd9e71e

This is from a Rust toml file showing feature dependencies. They basically map to metadata namespaces. You can see that the Win32 namespaces need some work. Note that this only shows certain dependencies (there are many others that are omitted for this list).

Reducing these dependencies would have a huge impact on build time for

[2021-10-15 16:30] kennykerr commented on #700
The WinRT namespaces are relatively clean by comparison. To give you a sense for how impactful this is, here are two examples. The first example uses a simple WinRT API while the second a simple Win32 API. The WinRT API actually requires hundreds of lines of code as it involves activation factories, required interfaces, and much more. The Win32 API just requires a single function definition.

The

[2021-10-15 17:01] sotteson1 commented on #700
When you pull in an API from a namespace, do you generate code for the the entire namespace and any dependencies? CsWin32 only pulls in the API and any types it depends on, but maybe you can't do that in Rust. I just built in an app using CsWin32 that calls GetTickCount and it built pretty much instantly.

[2021-10-15 18:30] KalleOlaviNiemitalo commented on #700
Can you gate things other than namespaces? If not, is this a limitation of Rust or just a matter of letting the developers understand which gate they need to open to get the function they want?

The Windows SDK documentation lists the header files needed for functions and types. I presume the dependencies between the header files have been reviewed. Perhaps you could gate by them.

API sets might

[2021-10-15 18:39] kennykerr commented on #700
Namespace are the natural boundary for something like this. Otherwise, I don't see much point in having these synthesized namespaces for Win32 at all.

Shouldn't `ole.h` be included in the existing `Windows.Win32.System.OleAutomation` namespace instead? Or at least in its own namespace? I think having smaller, more targeted namespaces would help a lot.

[2021-10-15 22:59] sotteson1 commented on #700
If at all possible, we try to deal in units of headers, not structs. We can move individual structs from one namespace to another but it gets hard to manage. Sometimes we have no choice like with winuser.h which is piled with all kinds of crap that doesn't belong together.

Just looking at these three types, they all come from ocidl.h and are mostly used by things in ocidil.h and ole*.h. We could

[2021-10-16 00:42] sotteson1 commented on #700
Who is moving things around after we get the .winmd? Our win32 metadata project isn't doing that.

[2021-10-16 01:01] kennykerr commented on #700
No, I mean the win32 metadata already makes decisions about how different APIs get mapped to different namespaces. Right now that's predominantly based on original header grouping but that need not be that way. The original headers are not preserved.

No, both C++ and Rust behave the same way. Structs must be fully defined because their size must be known at compile time. Functions are typically d

[2021-10-16 03:22] riverar opened #701 "Win32.Devices.HID.JOYREGHWVALUES is only used by Win32.Media.Multimedia.JOYREGHWCONFIG"
Appears `JOYREGHWCONFIG`'s buddy `JOYREGHWVALUES` is stranded alone in the `Windows.Win32.Devices.HumanInterfaceDevice` namespace and can be moved into `Win32.Media.Multimedia`.

Structure:
[code]

[2021-10-16 03:51] kennykerr commented on #700
I think I'll just close this issue and open new issues for any specific dependency issues I come across like #701.

[2021-10-16 03:51] #700 closed

[2021-10-18 00:23] marler8997 opened #702 "missing ioctlsocket constant FIONBIO"
The `FIONBIO` constant is found in the example for `ioctlsocket`: https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-ioctlsocket

I believe the value is supposed to be a signed 32-bit integer with the value `-2147195266`.

[2021-10-20 14:31] kennykerr opened #703 "`CO_E_NOTINITIALIZED` moved"
This constant moved from `Win32.Foundation` to `Win32.Graphics.DirectDraw` in `12.0.2-preview`.

Was that intentional?

[2021-10-20 14:43] kennykerr commented on #703
Also it switched from type `HRESULT` to `int`.

[2021-10-20 14:54] kennykerr opened #704 "`WhitePoint` missing"
The `WhitePoint` struct previously in the `Windows.Win32.UI.ColorSystem` namespace appears to be missing as of `12.0.2-preview`. Was it renamed or moved? I can't seem to find it.

This type was previously mentioned in #60.

[2021-10-21 07:27] gyk opened #705 "`SHCreateItemFromParsingName` is not transformed into a generic function"
After I updated windows-rs from v0.19.0 to v0.21.1, the line calling `SHCreateItemFromParsingName` can no longer compile because the function now uses `QueryInterface`-like signature. Possibly related to https://github.com/microsoft/windows-rs/pull/1088.

[2021-10-22 19:01] #704 closed, assigned to sotteson1

[2021-10-23 03:35] timsneath opened #707 "`IKsTopologyInfo.get_NodeName` is incorrectly described in metadata as property getter"
As I understand it, get properties are identified by a `specialname` annotation; they should have just one `[out]` parameter.

For `Windows.Win32.Graphics.DirectShow.IKsTopologyInfo`, the MSIL includes:

[code]

Note that `get_NodeName` is marked as `specialname`, which (along with the `get_` prefix) implies it's a get property. But it's not -- [it's a method](https://docs.microsoft.com/en-us/prev

[2021-10-24 15:12] ok-nick opened #708 "`CF_SYNC_POLICIES` has a weird emit"
[CF_SYNC_POLICIES ](https://docs.microsoft.com/en-us/windows/win32/api/cfapi/ns-cfapi-cf_sync_policies)

This is the definition in Rust for the Hydration policy field,
[code]
One of the fields is a `CF_HYDRATION_POLICY_PRIMARY_USHORT` which is defined as a struct with a `u16` field,
[code]
Except all of the defined values for the `CF_HYDRATION_POLICY_PRIMARY_USHORT` contain an `i32`, here is an ex

[2021-10-26 22:28] kennykerr opened #710 "Request to move `LUID`"
Any chance `LUID` can be moved to `Windows.Win32.Foundation`? This is type is used by quite a few different namespaces but its presencence in the `Windows.Win32.System.SystemServices` namespace implies a big hit on apps that just need `LUID`.

For example, `LUID` is the only dependency that `Windows.Win32.Graphics.Dxgi` has on `Windows.Win32.System.SystemServices`, more than doubling `Dxgi`'s buil

[2021-10-26 23:32] #710 closed, assigned to nobody

[2021-10-27 18:31] timsneath opened #711 "[Feature Request] Attribute for ANSI/Unicode Suffix"
It would be incredibly helpful if there was a way to programmatically identify structs and functions that have a `A` / `W` suffix that denotes whether a Win32 API is ANSI / Unicode.

I mask this from consumers of my projection (as indeed, C does through the use of `#define` macros), which means that I strip off the suffix. But there's no easy heuristic for me to differentiate between (say) `Window

[2021-10-27 21:32] #708 closed, assigned to mikebattista

[2021-10-28 10:22] lufog opened #712 "[Question] How to try it with c++?"
I find this project very interesting and really want to try it with C++. How can I do this? Is there any step-by-step instruction? And why cppwin32 repo is archived, do I need to use something else instead?

[2021-10-28 17:04] #702 closed, assigned to mikebattista

[2021-10-28 23:53] riverar opened #714 "DllImportAttribute dllName not explicitly specified for bthprops.cpl"
Consider the `BluetoothAuthenticateDevice` API. This function lives in `bthprops.cpl`. Without an explicit `.cpl` suffix, callers may fail attempting to append system native `.dll`, `.a`, etc. instead.

Propose that all imports that stray from the defaults be generated with explicit dllNames.

[code]

Related: microsoft/windows-rs#1255

[2021-10-29 04:16] timsneath opened #715 "`IUIAutomation.get_CurrentNativeWindowHandle` has incorrect parameter"
https://docs.microsoft.com/en-us/windows/win32/api/uiautomationclient/nf-uiautomationclient-iuiautomationelement-get_currentnativewindowhandle

This should be an `HWND*`, not an `HWND` as currently represented in the metadata:

[code]

[2021-10-29 20:24] riverar opened #716 "Windows 11 APIs (e.g. GetMachineTypeAttributes) missing SupportedOSPlatform"
APIs such as [GetMachineTypeAttributes](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-getmachinetypeattributes?WT.mc_id=WD-MVP-5002756) and [IMFCameraOcclusionStateMonitor](https://docs.microsoft.com/en-us/windows/win32/api/mfidl/nn-mfidl-imfcameraocclusionstatemonitor?WT.mc_id=WD-MVP-5002756) ... are missing `SupportedOSPlatform` attributes which can le

[2021-10-29 23:04] qrnch-jan commented on #460
Are there any updates on this issue?  The windows 0.23.0 crate seems to still have this issue.

[2021-10-29 23:07] riverar opened #717 "Unscoped enum JsDebugReadMemoryFlags contains rude None member"
Looks like per #443, we can slap a `ScopedEnumAttribute` on this.

[code]

Related: microsoft/windows-rs#1263

[2021-11-03 09:14] ancwrd1 opened #720 "Inconsistencies and missing entities in comparison with C++ and winapi-rs API"
I've been porting some projects from winapi-rs and from C++ to windows-rs, here is the list of inconsistencies found so far. I thought it might be a good idea to report them here.

* [ ] #796
* [x]  `RegisterEventSourceW` returns `EventSourceHandle`, but `ReportEventW` accepts `HANDLE`.
* [x]  #587 Some string constants are absent from the crate, need to define them manually: `NCRYPT_NAME_PROPERTY

[2021-11-03 19:13] timsneath opened #721 "`ISupportErrorInfo` and `IErrorInfo` are in different namespaces"
`ISupportErrorInfo` contains a [single method](https://docs.microsoft.com/en-us/windows/win32/api/oaidl/nf-oaidl-isupporterrorinfo-interfacesupportserrorinfo) which is used to determine whether an object supports `IErrorInfo`. They should be in the same namespace, but after the recent refactor they are now in `System.Ole` and `System.Com` respectively.

[2021-11-03 20:39] kennykerr opened #722 "Should `GetErrorInfo` and `IErrorInfo` be in different namespaces?"
They were previously in the same namespace.

[2021-11-03 21:05] sotteson1 commented on #722
I'll move GetErrorInfo into com. IErrorInfo got moved into com to help reduce some other dependencies.

[2021-11-03 21:58] riverar opened #723 "Incorrect DllImport attribute for Windows 11 API TryCreatePackageDependency"
`TryCreatePackageDependency` does not exist in `kernel32.dll` on Windows 11 22000.194 or vNext 22489.1000. Isn't clear if this is an OS bug (missing forwarder?), SDK bug, and/or a metadata bug. Warrants investigation across the board.

[code]

[code]

cc: @sylveon

[2021-11-03 22:11] sylveon commented on #723
I can't seem to find a `.lib` in the Windows SDK I can link to to get the function either.

[2021-11-04 16:29] mikebattista commented on #722
Related issue: #721.

[2021-11-04 16:32] mikebattista commented on #723
@DrusTheAxe is this yours?

[2021-11-04 17:06] RickSKy opened #724 "there is no Windows Filtering Platform apis in kernel and user space"
I can't find Windows Filtering Platform apis in this project, such as FwpmBfeStateSubscribeChanges0, FWPM_LAYER_IPSEC_V4, FWPM_LAYER_IKEEXT_V4 and so on ; The official website is https://docs.microsoft.com/en-us/windows/win32/fwp/about-windows-filtering-platform

[2021-11-04 19:52] DrusTheAxe commented on #723
No. win32metadata is the Flat-C projection. The API is misattributed. It's in api-ms-win-appmodel-runtime-l1-1-5 and also exposed by kernelbase.

Why is this saying kernel32? However this was generated is wrong.

BTW [Docs ](https://docs.microsoft.com/windows/win32/api/appmodel/nf-appmodel-trycreatepackagedependency)list headers but don't list libs or dlls anymore? :-(

[2021-11-04 20:00] kennykerr opened #725 "`SupportedArchitecture` dependency issue"
I just tried turning on multi-arch support in Rust and hit a problem with the `DISPATCHER_CONTEXT_ARM64` struct. The metadata says it is available on x86 and x64 but it has a field of type `UNWIND_HISTORY_TABLE` that is only available on x64 and ARM64, breaking x86 builds.

https://github.com/microsoft/windows-rs/runs/4109751749?check_suite_focus=true

[2021-11-04 20:02] sylveon commented on #723
Yeah, the reason we found this is I was trying to figure out which lib to use, and which DLL to probe with `GetProcAddress`, because docs didn't mention it.

I wanted to run downlevel on 10, so linking was okay for quick testing but not for the final code. I couldn't find the DLL so I asked @riverar; he looked at win32metadata and got `kernel32.dll`, but that obviously didn't end up working.

Curr

[2021-11-04 20:06] DrusTheAxe commented on #723
Idle thought... The api-ms-win-appmodel-runtime-l1 APIset has some unusual lineage

* Created in Win8, hosted by kernel32. Exported N functions
* Moved between Win8 and Win81 to kernelbase. Exported N functions, with forwarder stubs in kernel32 to preserve compat
* Repeatedly extended over the years (1-1, 1-2, ...). Exported by kernelbase but no new forwarder stubs added to kernel32. Kernel32 only

[2021-11-04 20:07] DrusTheAxe commented on #723
P.S. This is confirmed by local hackery

[code]

[2021-11-04 20:17] mikebattista commented on #723
Thanks for the investigation. @sotteson1 could you take a look?

[2021-11-04 20:21] sylveon commented on #723
Also, which .lib do I need to use if I want to use delay-loading instead of manual GetProcAddress calls?

[2021-11-04 20:22] DrusTheAxe commented on #723
`onecore.lib` ?

Yes, apparently docs _used to_ list header, lib and dll but now just header. I don't know why or when that happened but I too am saddened by it.

No need to switch. You can probe for `*PackageDependency()` in `kernelbase.dll` or `api-ms-win-appmodel-runtime-l1-...`. Both work and produce the same result.

APIsets are implemented as a library that's 'hosted' by a dll (that api-..1-

[2021-11-04 20:22] AArnott commented on #725
There are actually a good many such 'transitive' limitations in the metadata today. The metadata only attributes the direct APIs that are different in each architecture.

For CsWin32 I generate the code recursively (as I expect you do) based on type references and if _any_ of the dependencies aren't available given the target architecture, I bail out and tell the user the API the originally reques

[2021-11-04 20:32] kennykerr commented on #725
Thanks for the feedback. The Rust generator has two modes. The first mode works much the way you describe and generates just what is needed. That mode could conceivably elide APIs that aren't fully/correctly formed. But the second mode (and more widely used) generates everything ahead of time, including the code for all architectures. This is more like what you might see in a C++ generator where e

[2021-11-04 20:39] kennykerr commented on #723
I don't recommend apisets as they make it harder to build apps that run on older versions of Windows where they may not be available. If I remember correctly, the OS loader also no longer requires apiset DLLs and handles forwarding automatically.

[2021-11-04 20:43] sylveon commented on #723
Neither kernelbase.lib or api-ms-win-appmodel-runtime-l1.lib are in the Windows SDK. I generally prefer avoiding linking to onecore.lib because it brings literally everything, so makes it too easy to introduce unwanted dependencies.

Tried looking at the exports of all .lib files in the Windows SDK and the only ones provinding TryCreatePackageDependency are `onecore.lib`, `OneCoreUAP.lib`, `OneCor